@import url(Common.css);
.busstation{height:auto; width:300px;overflow-y:auto;overflow-x:hidden;
     scrollbar-face-color: #DBEBFE; /*滚动条凸出部分的颜色*/
     scrollbar-shadow-color: #B8D6FA; /*滚动条空白部分的颜色*/
     scrollbar-highlight-color: #FFFFFF; /*立体滚动条阴影的颜色*/
     scrollbar-3dlight-color: #DBEBFE; /*滚动条亮边的颜色*/
     scrollbar-darkshadow-color:#458CE4; /*上下按钮上三角箭头的颜色*/
     scrollbar-track-color: #FFFFFF; /*滚动条的背景颜色*/
     scrollbar-arrow-color: #458CE4;/*滚动条强阴影的颜色*/
}
.action .h{cursor:pointer; margin:2px 0; height:27px; line-height:27px; background:#ffffff url(../Images/SearchNavLine.gif) repeat-x left bottom;}
.action .active{cursor:pointer; margin:2px 0; height:27px; line-height:27px; background-color:#f6f6f6;}
.busstation ul li:hover{background-color:#f6f6f6;}
.imgsup{width:7px; height:8px; background:url(../Images/UpIco.gif) no-repeat left top; float:left; margin:10px 5px 0;}

.action .imgs{width:7px; height:8px; background:url(../Images/DownIco.gif) no-repeat left top; float:left; margin:10px 5px 0;}
.info div{padding-left:18px; cursor:pointer; line-height:21px;color:#336699;}
.info div:hover{ color:Red; text-decoration:underline;}
.info{ display:none;}
.Photo{height:60px;width:300px; margin:5px 0;}
