body{ margin:0; font-size:12px; }
a{ color:#1A70C7; font-size:12px; text-decoration:none; cursor:pointer}
a:hover{color:#1A70C7; font-size:12px; text-decoration:underline}
.dialog{ border:solid 1px #ACB9C2; background-color:#fff; height:auto; }
.dialog .title{ height:23px; border-bottom:solid 1px #ACB9C2 ; background-image:url(../images/2.jpg);}
.dialog .title div{ float:left; padding-left:10px; line-height:23px; font-size:12px; font-weight:bold;color:#314F67;}
.dialog .title a{ float:right;  height:15px; width:15px; background-image:url(../images/close.gif); margin:4px 6px 0px 0px;}
.dialog .title a:hover{ background-image:url(../images/closea.gif);}
.dialog .content .all{ margin:10px 0px 0px 8px; height:21px; line-height:21px;}
.dialog .content .btn{ width:48px; height:20px; float:left; cursor:pointer; background-image:url(../images/14.jpg);}
.dialog .content .btnConfirm{ width:55px; height:22px; cursor:pointer; background-image:url(../images/btnConfirm.gif);}
.dialog .content .all input{ float:left; height:20px; border:solid 1px #666666; border-right-width:0px;font-size: 12px;	color: #9A9A9A; line-height:20px; width:150px;}
.dialog .content .all textarea { float:left; height:20px; border:solid 1px #666666; border-right-width:0px;font-size: 12px;	color: #333; line-height:20px; }
.dialog .content{ height:42px; line-height:25px; }
.dialog .content .textLine { clear:both; padding:5px 0; }
.dialog .content .redText { color:Red; }
.dialog .title .ShowMarkerInfo { float:right;  height:15px; width:15px; background-image:url(../images/MarkDown.gif); margin:4px 6px 0px 0px;}
.dialog .title .ShowMarkerInfo:hover { float:right;  height:15px; width:15px; background-image:url(../images/MarkDown.gif); margin:4px 6px 0px 0px;}

.dialog .title .HideMarkerInfo { float:right;  height:15px; width:15px; background-image:url(../images/MarkUp.gif); margin:4px 6px 0px 0px;}
.dialog .title .HideMarkerInfo:hover { float:right;  height:15px; width:15px; background-image:url(../images/MarkUp.gif); margin:4px 6px 0px 0px;}

.dialog .content .DelMarker { background-image:url(../images/deleteMark.gif); background-repeat:no-repeat; padding-left:20px; height:21px; float:left; background-position:0 5px; margin-left:5px; cursor:pointer; color:#1A70C7; }

.dialog .content .CopyMarker { background-image:url(../images/copy.gif); background-repeat:no-repeat; padding-left:24px; height:21px; float:left; background-position:0 5px; margin-left:10px; cursor:pointer; color:#1A70C7; }
.dialog .content .Message { background-image:url(../images/MessageBoxIcon.jpg); background-repeat:no-repeat; background-position:4px 7px; padding:3px 26px; color:Black; }
.ding{height:45px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/ding.png',sizingMethod='image');}

.sel{ width:48px; height:20px; background-image:url(../images/sel.gif); float:left; text-align:right; cursor:pointer; margin-left:3px;}