body {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #404040;
	background: #fff;
}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, button, input, textarea {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
ul, ol {
	list-style-type: none;
}
img, a img, :link img, :visited img {
	border: 0;
	display: block;
}
a {
	color: #404040;
	text-decoration: none;
}
a:hover {
	color: #ff3333;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.fl {
	display: inline;
	float: left;
}
.fr {
	display: inline;
	float: right;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.top-nav-box {
	position: relative;
	width: 100%;
	height: 45px;
}
.top-nav-wrap {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 45px;
	background: #333333;
}
.top-nav-wrap .e-home {
	display: block;
	padding-right: 10px;
	border-right: 1px solid #4d4d4d;
	color: #fff;
	font-family: "宋体";
	line-height: 45px;
}
.top-nav-wrap .nav-tips {
	height: 45px;
	margin-right: 8px;
	line-height: 45px;
	font-size: 0;
	border-right: 1px solid #4d4d4d;
}
.top-nav-wrap .nav-tips a {
	float: left;
	padding: 0 15px;
	border-left: 1px solid #4d4d4d;
}
.top-nav-wrap .nav-tips a:hover {
	background: #1e1e1e;
}
.top-nav-wrap .nav-tips a em {
	position: relative;
	display: inline-block;
	background: url(../images/eds_sprite.png) no-repeat;
	vertical-align: middle;
}
.top-nav-wrap .nav-tips a.mobile {
	padding: 0 9px 0 14px;
}
.top-nav-wrap .nav-tips a.mobile em {
	width: 29px;
	height: 23px;
	background-position: 0 0;
}
.top-nav-wrap .nav-tips a.map em {
	width: 62px;
	height: 13px;
	background-position: 0 -31px;
}
.top-nav-wrap .nav-tips a.bdt em {
	width: 31px;
	height: 13px;
	background: url(../images/wenda_icon.png) no-repeat;
}
.top-nav-wrap .nav-tips a.yl em {
	width: 62px;
	height: 13px;
	background-position: 0 -73px;
}
.top-nav-wrap .nav-tips a.jdyd em {
	width: 62px;
	height: 13px;
	background-position: 0 -95px;
}
.top-nav-wrap .nav-tips a.fang em {
	width: 26px;
	height: 24px;
	background-position: 0 -116px;
}
.top-nav-wrap .nav-tips a.zf em {
	width: 26px;
	height: 24px;
	background-position: -30px -116px;
}
.top-nav-wrap .nav-tips a.login {
	position: relative;
	z-index: 999;
	width: 70px;
	height: 48px;
	padding: 0;
	font-size: 14px;
	font-family: "宋体";
	color: #fff;
	text-align: center;
	background: #d60000;
	border-left: none;
}
.top-nav-wrap .nav-tips a.login.black {
	height: 45px;
	background: #333;
}
.top-nav-wrap .nav-tips a.user-nave, .top-nav-wrap .nav-tips a.logout {
	font-size: 12px;
	color: #fff;
}
.top-nav-wrap .nav-tips a.user-nave {
	max-width: 130px;
	height: 45px;
	overflow: hidden;
}
.top-nav-wrap .nav-tips a.more:hover {
	background: #333333;
}
.top-nav-wrap .nav-tips a.more em {
	width: 24px;
	height: 18px;
	background-position: -60px -116px;
}
.top-nav-wrap .nav-tips a.more.on em {
	background-position: -47px -333px;
}
.top-nav-wrap .sitemap {
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	z-index: 998;
	width: 100%;
	padding: 22px 0 24px;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	box-shadow: 0 1px 2px 0 rgba(4,0,0,.32);
}
.top-nav-wrap .sitemap ul {
	border-left: 1px solid #f6f6f6;
}
.top-nav-wrap .sitemap li {
	float: left;
	width: 84px;
	height: 460px;
	font-size: 0;
	border-right: 1px solid #f6f6f6;
}
.top-nav-wrap .sitemap li strong {
	display: block;
	margin-top: 6px;
	font-size: 16px;
}
.top-nav-wrap .sitemap li strong a {
	margin-bottom: 20px;
}
.top-nav-wrap .sitemap li a {
	display: inline-block;
	width: 58px;
	margin-left: 27px;
	margin-bottom: 14px;
	font-size: 12px;
	white-space: nowrap;
}

.page-footer {
	width: 100%;
	height: 40px;
	background: #333333;
	font-size: 12px;
	color: #fff;
	line-height: 40px;
	position: fixed;
	bottom: 0;
}
.page-footer a {
	position: relative;
	margin-left: 37px;
	color: #fff;
}
.page-footer a:after {
	content: "|";
	position: absolute;
	right: -42%;
	color: #616161;
}
.page-footer a:last-child:after {
	display: none;
}
.page-footer .back-top {
	display: none;
	position: fixed;
	width: 60px;
	bottom: 20px;
	right: 281px;
}
.page-footer .back-top span {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	margin-top: 7px;
	background: #dddddd;
	cursor: pointer;
}
.page-footer .back-top span:hover {
	background: #e9e9e9;
}
.page-footer .back-top span:after {
	content: "";
	display: block;
	position: absolute;
	left: 7px;
	top: 17px;
	width: 47px;
	height: 23px;
	background: url(../images/eds_sprite.png) no-repeat 0 -397px;
}
html,body{
	height:100%;
	background: #f8f8f8;
}
.error{
	position: absolute;
	top: 50%;
	margin-top: -271px;
	text-align: center;
	width:100%;
	/* height:calc(100% - 220px); */
	background: #f8f8f8;
	/* padding-top: 135px; */
}
.error .bg{
	display: block;
	width:296px;
	height:325px;
	background-image: url(../images/error_bg.png);
	margin: 0 auto 30px auto;
}
.error div{
	font-size: 36px;
	color: #222;
	margin-bottom: 15px;
}
.error span{
	display: block;
	font-size: 20px;
	line-height: 30px;
	color: #222;
}
.error .backhome{
	display: inline-block;
	height:40px;
	line-height: 40px;
	padding: 0 33px;
	color: #fff;
	background-color: #fe4242;
	border-radius:3px;
	margin-top: 15px;
}
.error .not-found {
	line-height: 32px;
}
.error .not-found div {
	margin-bottom: 8px;
}
.error .not-found .tit{
	font-size: 18px;
	color: #666;
}
.error .not-found a {
	font-size: 20px;
	color: #1d87e4;
}
.error .not-found a span {
	font-size: 22px;
	color: #222;
}
.error .not-found a.backhome {
	color: #fff;
	font-size: 14px;
}