@model Edushi.WenDa.Web.PC.Models.CacheManageModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>清缓存</title>
</head>
<body>
<div>
    @Html.Raw(Model.desc)
</div>
</body>
</html>
