*{ margin:0; padding:0;list-style:none}
body{  color:#333;font-size:12px; font-family:Arial,"宋体";  }
a{ text-decoration:none; color:#666}
a:hover{color:#f60}
img{ border:none}
dl,dt,dd,ul,li{ display:block}
br{ clear:both; line-height:0px; height:1px; font-size:0px; overflow:hidden;width:100%; background:#000;}
.clear{ clear:both; height:1px; line-height:1px; font-size:0px;  overflow:hidden; width:100%; margin-top:-1px;}
.fl{ float:left;}
.fr{ float:right;}
.biaoti{ font-size:14px; font-family:"微软雅黑";}
.tyl{ color:#f60;}
.tgl{ color:#999;}
.tbold{ font-weight:bold;}
.t14{ font-size:14px;}
.tblue{color:#06f}
.tblk{ color:#333}

#top{margin-bottom:10px; clear:both; height:30px;background:url(../images/index_02.png) repeat-x; font-size:12px; line-height:30px; color:#666;width:100%;}
#top p{margin:0 auto;text-align:right; float:right;height:30px;line-height:30px;}
#top a{color:#666;font-family:"宋体";font-size:12px;}
.menu{ height:30px;font-size:12px;width:960px; margin:0 auto;background:url(../images/index_02.png) repeat-x;}
.menu li{ margin-right:8px; float:left; position:relative;z-index:1000; line-height:18px; height:18px;padding-top:4px;}
.menu li a{padding:0 4px;display:block;}
.menu li ul{ position:absolute; z-index:1000;top:22px;left:0;background:#fcfcfc;border:1px solid #bcbcbc; }
.menu li ul li{margin:0; float:none; padding:0px; width:70px; height:22px; line-height:22px;}
.menu li ul li a{display:block; white-space:nowrap; padding-bottom:0;}
.menu li ul li a:hover{ background-color:#dfdfdf;}
.menu .city a{display:inline;padding:0;}
.menu .city #CityList{background:#fff;border: 1px solid #ccc;color:#f50;width:200px; height:150px;overflow:auto;position:absolute;top:24px;left:0;}
.menu .city #CityList a{margin-right: 5px;text-decoration: underline;}
.menu .city #CityList td{height:24px;}

#logo{ width:230px; height:70px; float:left;}
#search{ width:720px; float:left; padding:19px 0 0 10px; height:51px;}
#menu{ clear:both;height:40px; background:url(http://res.edushi.com/dian/5/image/Nav.png); padding:0 10px;}
#footer,.container{width:960px; margin:0 auto; margin-bottom:15px; clear:both}
.con{ margin:0 auto; margin-bottom:15px; clear:both;zoom:1;}

#logo a{ display:block; float:left;}
#city{ background:url(../images/index_09.png) no-repeat; width:72px; text-align:center; height:30px; margin:30px 0 0 15px; line-height:30px; font-size:14px; color:#f60; font-weight:bold; }

#searchbar{ background:url(../images/index_06.png) no-repeat; width:430px; height:41px; float:left;}
#searchbar #txtKeyword{ width:330px; border:none 0; height:24px; line-height:24px; margin:9px 0 0 9px;}
#searchbar .searchbtn{ border:0 none; background:none;  margin-left:3px; display:inline; width:70px; height:30px; font-size:14px; color:#fff; font-weight:bold;}

#hotwords{ float:left; width:270px; padding:14px 10px 0 10px; overflow:hidden;}
#menu .menulist{ float:left;/* width:600px; */padding-top:7px; line-height:30px; text-align:center}
#menu .menulist li{ float:left; font-size:14px; color: #e30; font-weight:bold; height:33px;}
#menu .menulist li a{ color:#fff; display:block}
#menu .menulist li.m{ width:72px;}
#menu .menulist li.line{ padding:0 10px;}
#menu .menulist li a.on{ background:url(http://res.edushi.com/dian/5/image/menu.png) no-repeat; color:#333; height:33px; line-height:33px;}
#menu .weather{ width:300px; padding:10px; line-height:20px; float:left; color:#fff; text-align:right}


/*-----------*/

.searchbox{ width:720px; float:right; padding:20px 0 0 0; height:55px;}
.sbar{ background:url(../images/Ma_Child_06.png) no-repeat; height:41px;}
.sbar input{ float:left;}
.seachint{width:280px; border:none 0; line-height:24px; height:24px; margin:9px 0 0 9px;}

.querybtn{ border:0 none; background:none;margin:5px 0 0 3px; display:inline; width:70px; height:30px; font-size:14px; color:#fff; font-weight:bold;}

#queryMenu{}
#queryMenuList{}
#queryMenuList a{ display:block; line-height:30px;height:30px; text-align:center;}
#queryMenuList a:hover{ background:#eee;}

.sbar li{ float:left;}
.hots{ line-height:40px; padding-left:20px;}
#menu_my ul{ float:left;}
#menu_my ul li{ float:left;}
/*-----------*/
.leftbox{ width:715px; float:left}
.rightbox{ width:230px; float:right;}

.tab{ width:142px; height:295px; float:left; background:url(../images/tab.png) no-repeat; text-align:center;}
.tab .t{font-weight:bold; color:#f60; line-height:30px;}

.tab .item{ display:block; position:absolute; left:0px; top:0px; width:139px;border:0px solid; padding:0px; z-index:1001; border-color:transparent; line-height:29px; font-size:14px;}
.tab li{ height:33px; position:relative;  margin:0px; *margin-bottom:-3px; padding:0px;z-index:1000;}
.tabCon{ position:absolute;background:#fff; line-height:20px; text-align:left; left:139px; width:400px; overflow:hidden; top:0px;z-index:1000; display:none; }/**/

.tab .dh{ font-size:12px; line-height:18px; clear:both; padding-bottom:10px;}
.tab .dh .t{ float:left; width:80px; font-size:14px; font-weight:bold; color:#f60; font-family:"微软雅黑"}
.tab .dh .b{ float:right; width:470px}
.tab .pindao_over li{ height:auto;line-height:20px;}
.tab .pindao_over h2 a{color:#444;}
.tab .tchot{ border-top:1px dashed #ccc; padding-top:10px;}
.tab .tchot dt{ float:left; padding-right:10px;}
.tab .tchot dt img{ width:150px; height:180px;}
.tab .tchot dd{ float:right; width:385px; text-align:center}
.tab .tchot dd div.hot4{ padding:5px 0;}
.tab .tchot dd .hot4 ul{ width:185px; float:left; padding-right:7px;}
.tab .tchot dd .hot4 ul li{ float:left;  height:24px;}
.tab .tchot dd .hot4 ul li.t{padding:0;margin:0;line-height:20px; padding-right:5px; font-weight:bold; }
.tab .tchot dd .hot4 ul li.t a{ color:#f60;}
.tab .tchot dd .hot4 ul li.b{ width:154px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.tab .tchot dd .adv{ text-align:left;}
.tab .tchot dd .adv img{ width:180px; height:90px; margin-right:10px;}


.hot_assort{ width:560px; padding-left:13px; float:left; height:295px; overflow:hidden;}
.hot_assort .adv{ clear:both; height:100px; width:560px; overflow:hidden; margin-bottom:15px; position:relative; z-index:0;}
.hot_assort .hd{height:22px;overflow:hidden; color:#f30}
.hot_assort .hd b{font-size:14px;}
.hot_assort .bd ul{overflow:hidden;*zoom:1;}
.hot_assort .bd ul.last{}
.hot_assort .bd ul li{float:left;display:inline;width:50%;*magin-top:-2px;}
.assort_item{*zoom:1;padding:6px 10px 6px 0;overflow:hidden;}
.assort_item dt{float:left;display:inline;width:40px;}
.assort_item dd{float:left; width:230px;}
.assort_item dt a{display:block;font-weight:700;color:#06f;}
.assort_item dd a{display:inline-block;*zoom:1;*display:inline;margin:0 2px 2px 2px;padding:0 2px 2px 2px;color:#666;}
.assort_item dd a:hover{background-color:#f90;color:#fff;text-decoration:none;}

.map{ border:1px solid #ddd; background:#ebf5ff; height:150px; padding:10px; width:693px;}

.mapbar{ float:left; width:380px; padding-top:5px;}
.mapbar .tabbtn{ height:30px; background:url(../images/bar_03.png) no-repeat;}
.mapbar .tabbtn a{ display:block; float:left; width:85px; padding-left:37px; height:30px; line-height:18px; color:#333; font-weight:bold}
.mapbar .tabbtn a.on{ background:url(../images/bar_07.png) no-repeat 40px bottom; }
.mapbar .mapbox{ background:#6facf2;padding:5px; height:24px; margin-bottom:5px;}
.mapbar .mapbox .ipt{ background:url(../images/bar_14.png) no-repeat #fff 5px 6px; padding:2px 2px 2px 20px; width:196px; border:none; line-height:20px; height:20px; float:left;}
.mapbar .mapbox .dmenu{ display:inline; text-align:center; height:24px; background:#fff url(../images/bar_17.png) no-repeat 60px center; float:left; width:55px; padding-right:10px; margin:0 5px;_margin:0 2px; padding-left:6px; line-height:24px;}
.mapbar .mapbox .sbtn{ background:url(../images/bar_11.png) no-repeat; width:69px; height:24px; font-size:14px; font-weight:bold; color:#f60; border:none;}
.mapbar .maphot{ line-height:22px; height:45px; overflow:hidden;}
.mapbar .maphot a{display:inline-block; margin-right:4px;}


#searchMenuList{ background:#fff;}
#searchMenuList a{ display:block; text-align:center; height:22px; line-height:22px;}
#searchMenuList a:hover{ background:#eee;}
.mapimg{ float:right; width:306px;}
.hotcitymap{ padding-top:5px; height:20px; overflow:hidden; width:693px; clear:both; border-top:1px dashed #ccc; margin-top:10px;}
.hotcitymap a{ color:#06f; margin-right:5px}
h1{ background:url(../images/bjbar.png) no-repeat; height:36px; font-size:14px; color:#fff;line-height:36px;}
h1 span{ width:140px; display:block; text-align:center}

.hotbd dl{ clear:both; padding:15px 0 0 0;}
.hotbd dl dt{float:left; width:250px; margin-right:25px;}
.hotbd dl dd{float:right; width:440px;}
.youhui_t{ border:4px solid #eee; padding:1px 1px 9px 1px; height:280px; overflow:hidden; line-height:20px;}
.youhui_t p,.youhui_t h2{ padding:0 5px;}
h2 a{ font-size:14px; color:#06f; line-height:28px;}
.yhimg a{ float:left; margin:0 20px 15px 0;_ margin:0 10px 15px 0;}
.yhlist{ line-height:20px; clear:both;}
.yhlist li{ float:left; width:50%; height:20px; overflow:hidden;}
.yhlist li a{ margin-right:5px;}
.hdadv{ padding:4px; border:1px solid #ddd;}
.hd_r{ height:235px; overflow:hidden;}
.hd_r div{ line-height:20px; padding-bottom:5px; margin:0 20px 10px 0; border-bottom:1px dashed #ddd; color:#999;}
.hd_r div h3{ font-size:14px; padding-bottom:4px;}

.bdt{ height:272px;}
.bdt dt img{ border:1px solid #ddd; padding:4px;}
.bdt dt p{ line-height:24px;}
.wenti{ padding-right:20px;}
.wenti li{line-height:24px; overflow:hidden; height:24px;}
.s_1,.s_1 .lable_a,.s_1 .s_C{ float:left;}
.s_1 .lable_a{ margin-right:5px; width:50px; font-size:14px; color:#333;}
.s_1 .s_C a{ display:block;font-size:14px; width:280px;  color:#06f;}
.wenti li .s_2{ font-family:Arial, Helvetica, sans-serif; text-align:right; float:right; width:60px; color:#999}

.cityhot{ background:url(../images/hot.png) no-repeat; height:275px; overflow:hidden; padding:10px;}
h4{ font-family:"微软雅黑"; font-size:16px; font-weight:normal; border-bottom:1px dotted #ddd; padding-bottom:5px;}
.cityhot dl{ padding:10px 0; height:54px; overflow:hidden;}
.cityhot dl dt{ float:left; width:72px; height:54px;}
.cityhot dl dd{ float:right; width:130px; line-height:18px;}
.cityhot ul li{ background:url(../images/jt.png) no-repeat left center;*background-position:left 10px; height:25px; line-height:25px; padding-left:10px; height:25px; overflow:hidden;}
.cityhot ul li a{ margin-right:5px}

.hotactive{ border:1px solid #ddd; padding:5px 9px; height:160px;}
.hotactive .list{ line-height:24px; padding-top:5px}
.hotactive .list p{overflow:hidden;text-overflow: ellipsis;white-space:nowrap; width:210px;}
.sale{ border:1px solid #ddd;  padding:5px 9px;}
.sale ul{ clear:both; padding:5px 0 10px 0;}
.sale ul li{ background:url(../images/num.png) no-repeat; border-bottom:1px dashed #ccc; line-height:21px; padding:5px 0 5px 25px;}
.sale ul li.n_1{ background-position:0 0;}
.sale ul li.n_1on{ background-position:0 -310px; height:50px; background-color:#feffe0;}
.sale ul li.n_2{ background-position:0 -32px;}
.sale ul li.n_2on{ background-position:0 -352px; height:50px; background-color:#feffe0;}
.sale ul li.n_3{ background-position:0 -64px;}
.sale ul li.n_3on{ background-position:0 -394px; height:50px; background-color:#feffe0;}
.sale ul li.n_4{ background-position:0 -96px;}
.sale ul li.n_4on{ background-position:0 -436px; height:50px; background-color:#feffe0;}
.sale ul li.n_5{ background-position:0 -128px;}
.sale ul li.n_5on{ background-position:0 -478px; height:50px; background-color:#feffe0;}
.sale ul li.n_6{ background-position:0 -160px;}
.sale ul li.n_6on{ background-position:0 -520px; height:50px; background-color:#feffe0;}
.sale ul li.n_7{ background-position:0 -192px;}
.sale ul li.n_7on{ background-position:0 -562px; height:50px; background-color:#feffe0;}
.sale ul li.n_8{ background-position:0 -224px;}
.sale ul li.n_8on{ background-position:0 -604px; height:50px; background-color:#feffe0;}

.sale ul li .n_on{ display:none; height:40px; padding:5px 5px 5px 0; overflow: hidden;}
.sale ul li .n_on dt{ float:left;}
.sale ul li .n_on dt img{ border:1px solid #ccc; width:40px; height:40px;}
.sale ul li .n_on dd{ width:130px; float:right;}


.busi_10{ border:1px solid #ddd; padding:9px; background:url(../images/num_2.png) no-repeat 10px 38px;}
.busi_10 ul{ padding-left:25px; line-height:21px; color:#999; margin-top:2px}
.busi_10 ul li{overflow:hidden;text-overflow: ellipsis;white-space:nowrap;width:185px}

.hotcity{}
.hotcity dt{ float:left; width:70px; color:#999;}
.hotcity dd{ float:right; width:890px;}
.hotcity dd a{ display:inline-block; margin:0 2px; line-height:18px;}

#footer{ line-height:24px; text-align:center; color:#999; border-top:1px solid #ddd; padding:10px 0 0 0;}
#footer a{ margin:0 10px;}

.newslist{ border:1px solid #ddd;}
.newslist dt{ background:#efefef; padding:5px 10px; height:16px;}
.newslist dt span{ float:left;}
.newslist dt a{ float:right; color:#f30}
.newslist dd{ padding:15px;}
.newslist dd ul{ clear:both; margin-bottom:15px; line-height:20px; border-bottom:1px dashed #ddd; margin-bottom:15px;}
.newslist dd .news .tt a{ font-size:14px; font-weight:bold; color:#06f; }
.newslist dd .news li{ padding-bottom:10px; color:#666;}
.newslist dd .news .key{ color:#999;}
.newslist dd .news .key .l{ float:left;}
.newslist dd .news .key .r{ float:right;}
.newslist dd .news .img{text-align:center;}

.newsbody{ border:1px solid #ddd; padding:25px; font-size:14px; line-height:24px;}
.newsbody h2{ font-size:24px; color:#000; text-align:center}
.newsbody .ly{ font-size:14px; text-align:center; padding:10px;}
.newsbody .ly a{ color:#06f}
.newsbody .daoyu{ background:#f0f5fc; padding:10px; color:#06c;}
.newsbody .newsmain{ padding:20px 0;}
.newsbody .newsmain p{ padding:5px 0;}
.newsbody .switch{ clear:both; height:30px; font-size:12px;}
.newsbody .switch .l{ float:left; height:20px;width:45%; overflow:hidden;}
.newsbody .switch .r{ float:right; height:20px;width:45%;overflow:hidden;}
.newsbody .switch a{ color:#06f;}
.newsbody .pinlun { padding-top:10px; font-size:12px;}
.newsbody .pinlun li{margin-bottom:5px;}
.newsbody .pinlun .t{ background:#f7f7f7; font-weight:bold; padding:3px 10px;}
.newsbody .pinlun .int input{ border:1px solid #ddd; background:none; height:18px; padding:2px 8px;}
.newsbody .pinlun .int input.btn{ background:#efefef; height:24px;}
.newsbody .pinlun .msg .msgbd{ border-bottom:1px dotted #ddd; padding:10px 0 6px 0; color:#666; zoom:1;}
.newsbody .pinlun .msg .msgbd .msg_t{ float:left;}
.newsbody .pinlun .msg .msgbd .msg_t img{ padding:2px; border:1px solid #ddd; width:50px; height:50px;}
.newsbody .pinlun .msg .msgbd .msg_b{ float:right; width:595px;}

.relevantnews{ border:1px solid #ddd; padding:10px;}
.relevantnews p.t{ border-bottom:1px dashed #ddd; padding:0 10px 5px 10px; color:#f60; font-size:14px; font-weight:bold;}
.relevantnews ul{ padding:10px; height:125px;}
.relevantnews ul li{ width:45%; overflow:hidden; padding:0 20px 0 10px; float:left; background:url(../images/dot.png) no-repeat left center; line-height:25px; height:25px;}
.relevantnews a{ color:#06f;}

.box_r{ border:1px solid #ddd; padding-bottom:10px;}
.box_r dt{ background:#efefef; padding:5px 10px; font-size:14px; font-weight:bold; color:#f60;}
.box_r dd{ padding:10px;}
.news_recom p{ background:url(../images/dot.png) no-repeat left 12px; overflow:hidden; height:27px; line-height:27px; padding-left:10px;}
.list_sh{}
.list_sh ul{ clear:both; padding:5px 0;}
.list_sh .number{ background:#ddd; padding:2px 0; color:#fff; float:left; height:14px; width:18px; text-align:center}
.list_sh .numred{ background:#f90}
.list_sh .shname{float:left; padding-left:10px; line-height:18px; color:#666; width:180px; overflow:hidden}
.list_sh .shname a{ font-size:14px;  color:#06f}

/*-------ebox------*/


.links{}
.links a{ display:inline; float:left; width:88px; height:31px; margin:2px 11px;}

#outEdit{width:950px;text-align:right; z-index:100005; position:absolute; top:5px; left:50%; margin-left:-475px;}
#outEdit a{color:#ff6300; background:#fff; float:right; display:block;height:22px; line-height:22px; font-size:13px; padding:0px 5px;} 
/*分页 */
.page{ text-align:right; padding:5px 10px 0 10px; margin-top:10px; height:35px;line-height:20px; }
.page span{ font-family:宋体;}
.page a{ font-family:宋体; border:1px solid #6af; padding:0 5px; color:#6af;  height:20px;line-height:20px;margin-right:4px; display:inline-block;}
.page .epage{border:1px solid #6af;background:#6af;color:#6af; height:20px;line-height:20px; padding:0 6px;font-weight:bold; display:inline-block; }

#page{ text-align:center; margin:20px auto 0 auto; clear:both; border:none; float:right}
#page li{ border:1px solid #6af; float:left; width:auto; float:left; margin:0 2px; height:auto;}
#page li a{ display:block; padding:2px 6px; color:#6af;}
#page li span{ display:block; background:#6af; color:#fff; padding:2px 6px;}

.more{font-family:微软雅黑; color:#f60; position:absolute; right:10px; top:5px; font-size:11px;}

.zxclass{background:#fefae5; border:solid 1px #ffd6a0; overflow:hidden; margin-bottom:10px; width:100%;}
.zxclass ul{background:#fff; padding:4px; clear:both;}
.zxclass li{ *margin-top:-3px; width:25%; height:24px; float:left; line-height:24px; display:block;}
.zxclass li a{font-size:14px;line-height:24px; color:#333; margin-left:20px; display:inline-block;}
.zxclass li a:hover{ color:#f60;}
.zxclass li a.on{ font-weight:bold;color:#f60;}


/*sousuojieguoliebiao */
.fenlei{}
.fenlei dt{ background: #e9f3ff; padding:8px 10px; font-size:14px; margin-bottom:10px;}
.fenlei dd{}
.fenlei dd ul{ border-bottom:1px dashed #ddd; line-height:20px; padding-bottom:10px; margin-bottom:10px;zoom:1}
.fenlei dd ul li.fbt{ float:left; width:90px; padding-left:10px; font-size:14px;}
.fenlei dd ul li.fbd{ float:right; width:600px;}
.fenlei dd ul li.fbd a{ display:inline; float:left; color:#36c; margin-right:10px; overflow:hidden;}
.fenlei dd ul li.fbd a.tyl{ color:#f60}
.fenlei dd ul li.fbd .quyu{ clear:both;}
.fenlei dd ul li.fbd .quyu a{}
.fenlei dd ul li.fbd .sq{ padding:5px 10px; margin-top:10px; margin-left:-10px; background:#f4f4f4; clear:both;} 
.fenlei dd ul li.fbd .sq a{ margin-right:10px; color:#666;}
.fenlei dd ul li.fbd .sq a.tyl{ color:#f60}
.fenlei dd ul li.fbd .sq a.all{ float:right; width:70px; text-align:right; color:#f60;}

.youhuituijian{ padding:10px; background:#e9f3ff;}
.youhuituijian dt{ font-size:14px; font-weight:bold; color:#f60;}
.youhuituijian dt .t{ float:left;}
.youhuituijian dt .link{ float:right; width:48px; padding-top:5px;}
.youhuituijian dt .link a{ float:left; display:block; width:8px; height:8px; margin-right:8px;_margin-right:4px; background:url(../images/yd.png) no-repeat right;}
.youhuituijian dt .link a.on{background:url(../images/yd.png) no-repeat left;}
.youhuituijian dd{ clear:both;zoom:1; width:690px; overflow:hidden;}
.youhuituijian dd ul{ width:999999px;}
.youhuituijian dd ul li{ float:left; padding:10px; width:208px; overflow:hidden;}
.youhuituijian dd ul li img{ border:3px #fff solid}

.liebiao{ clear:both; margin-top:15px;}
.liebiao dt{ background:#e9f3ff; padding:10px; zoom:1}
.liebiao dt lable{ margin-right:5px;}
.liebiao dt input{ display:inline-block; vertical-align:middle;}
.liebiao dt ul,.listmap dt ul{ float:left; padding-right:6px;}
.liebiao dt li,.listmap dt li{ float:left; white-space:nowrap; padding-right:4px;}

.liebiao dd ul{overflow:hidden; height:110px; clear:both; padding:15px 10px; border-bottom:1px dashed #ccc;}
.liebiao dd ul li{ float:left;margin-right:9px;overflow:hidden;line-height:16px;}
.liebiao dd ul li.timg{border:1px #ddd solid; padding:3px; width:200px; height:100px; }
.liebiao dd ul li p{ padding-top:5px;}
.liebiao dd ul li.nr{ width:345px;}
.liebiao dd ul li.nr .t a{ font-size:14px; color:#f60; font-weight:bold;}
.liebiao dd ul li.nr .hui{ color:#666;}
.liebiao dd ul li.nr .hui a{ color:#36c;}
.liebiao dd ul li.rtbtn{ width:120px; margin:0; float:right; text-align:right; line-height:20px; }
.liebiao dd ul li.rtbtn p{ display:block; clear:both;width:120px;} 
.liebiao dd ul li.rtbtn p a{ color:#f60;}
.liebiao dd ul li.rtbtn p a.tblue{ color:#36c;}
.liebiao dd ul li.rtbtn .scorefull{ background:url(../shop/images/score.png) no-repeat 0px -16px; width:70px; display:inline-block; line-height:14px; overflow:hidden; height:16px; text-align:left;}
.liebiao dd ul li.rtbtn .score{ background:url(../shop/images/score.png) no-repeat 0px 0px; width:70px; display:inline-block; line-height:14px; overflow:hidden; height:16px; text-align:left;}

.fenye{ background:#fff; padding:10px 10px 0 10px; margin-top:10px; height:35px; overflow:hidden;}
.fenye .epage{ float:left; padding:5px; display:block; color:#f60; font-size:14px; font-weight:bold;}
.fenye span{ float:left; display:block; color:#f60; font-size:14px; font-weight:bold;}
.fenye a{ float:left; border:1px solid #ddd; padding:3px 5px; margin-right:4px; padding:5px; display:block;}
.fenye a.top{ border:none;}

.listmap{ padding:5px; border:1px solid #ddd; margin-bottom:12px;}
.listmap dt{ height:20px; overflow:hidden; width:218px;}

.img200_100{width:200px; height:100px;vertical-align:middle; line-height:100px; text-align:center;font-size:12px\9;*font-size:87px;display:table-cell;display:block\9;*display:table-cell;padding:0px; margin:0px;}
.img200_100 a{ vertical-align:middle;}    
.img200_100 img{max-width:200px; max-height:100px; vertical-align:middle; display:inline;
_height:expression(this.height>100?(this.width/this.height<200/100?"100px":true):true);
_width:expression(this.width>200?(this.width/this.height>200/100?"200px":true):true);}

.hotnews{ width:560px; overflow:hidden}
.hotnews .txtnews{ width:580px;}
.hotnews .txtnews li{ float:left; width:270px; padding-right:20px; padding-bottom:8px; overflow:hidden;}
.hotnews .imgnews{width:580px;}
.hotnews .imgnews li{ float:left; padding-right:20px; text-align:center; line-height:20px;}
.hotnews .imgnews img{ width:125px; height:70px;}
.cityhot ol li{line-height:18px; padding:3px 0;}
.cityhot ol li a{margin-right:3px}
.pdkz{ padding-top:15px; clear:both}
.pdkz dt{width:20px;padding:10px;line-height:28px;font-family:"微软雅黑";	font-size:18px; background:#ebf5ff; float:left;}
.pdkz dd{ float:left; padding-left:15px;}
.pdkz dd .onenews{ float:left; width:200px; height:130px; font-size:14px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis; width:200px; font-weight:bold; line-height:26px;}
.pdkz dd .listnews{ float:left; padding-left:15px; width:445px;}
.pdkz dd .listnews li{ width:210px; float:left; line-height:18px; padding-bottom:6px; margin-right:12px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
.pdkz dd .listnews li.imgnew{ width:138px; margin-right:10px;}
.pdkz dd .listnews li.imgnew img{ width:130px; height:78px;}

#EdushiMap{width:218px;height:200px; overflow:hidden; background:url(../../images/loading.gif) center center no-repeat #eee;}