@{
    ViewBag.Title = "举报成功";
}

<div class="wrapper pb60">
    <div class="success">
        <div class="success">
            <p>举报成功，感谢您的参与！</p>
            <a href="http://www.edushi.com/">返回首页</a>
        </div>
    </div>
</div>
