<footer>
    <div class="ft-link">
        <a href="http://m.edushi.com/" class="back-home">返回首页</a>
        <a href="http://apps.edushi.com/news/app.html" class="app-download">客户端下载</a>
        <a href="http://report.edushi.com/report" class="report">举报</a>
    </div>
    <div class="ft-info">浙B2-20050306-1&nbsp;&nbsp;浙江网安备&nbsp;33010802009347号</div>
</footer>

<section class="floatbar">
    <div class="back-top"></div>
</section>

<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>