@{
    ViewBag.Title = "未找到页_生活帮—E都市";
}
<link href="@Url.Content("~/asset/css/error.css")" rel="stylesheet" />
<div class="error">
    <div class="bg"></div>
    <div>sorry</div>
    <span>页面报错啦！</span>
    <span>你访问的页面已经离开地球</span>
    <a href="@Url.Content("~/")">返回E都市首页</a>
</div>
