<!-- 弹出 -->
<div class="layout-box">
    <div class="layout-title">
        乐富智汇园<a href="#" target="_blank">详情</a>
        <span class="layout-close"></span>
    </div>
    <div class="layout-info clearfix">
        <div class="img"><img src="http://nimg.edushi.com/userupImages/pic_hz/29/sOwner19046200851916562939881.JPG"></div>
        <div class="info">
            <p><span>地址：</span>祥园路28号</p>
            <p><span>电话：</span>0571-88865008</p>
            <p><span>类型：</span>商务住宅;产业园区;产业园区</p>
        </div>
    </div>
    <div class="tab-nav clearfix">
        <span class="nearby-search on">在附近找</span>
        <span class="from-here">这里出发</span>
        <span class="go-here">到这里去</span>
    </div>
    <div class="tab-content clearfix" style="display: block;">
        <input type="text" name="" id="nearbySearch" class="ipt search-ipt"  placeholder="输入附近要找的地点" />
        <span class="search-btn"></span>
    </div>
    <div class="tab-content clearfix">
        <input type="text" name="" id="end_point_detail" placeholder="请输入终点" class="ipt" />
        <span class="drive" id="end_drive">驾车</span>
        <span class="bus" id="end_bus">公交</span>
        <span class="walk" id="end_walk">步行</span>
    </div>
    <div class="tab-content clearfix">
        <input type="text" name="" id="start_point_detail" placeholder="请输入起点" class="ipt" />
        <span class="drive" id="start_drive">驾车</span>
        <span class="bus" id="start_bus">公交</span>
        <span class="walk" id="start_walk">步行</span>
    </div>
</div>