<!DOCTYPE html>
<html>

<head>
    <title>三维地图APP版</title>
    @Html.Partial("/Views/Shared/_PartialHead.cshtml")
    <style>
        #by {
            box-sizing: border-box;
            border: 1px solid #9D9D9D;
            padding: 30px 30px;
            width: 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

    </style>
</head>

<body id="by">
               <div >
                   12323
               </div>
</body>

</html>