<div class="page-footer">
    <div class="wrapper clearfix">
        <div class="fl">
            浙网文[2015]0464-184号&nbsp;&nbsp;&nbsp;广告经营许可证号:3301082100176&nbsp;&nbsp;&nbsp;甲测资字:3300168&nbsp;&nbsp;&nbsp;浙公网安备 33010502000262号&nbsp;&nbsp;&nbsp;© 2004 - 2017 EDUSHI. All Rights Reserved
        </div>
        <div class="fr">
            <a href="http://www.edushi.com/about/" target="_blank">关于E都市</a>
            <a href="http://www.edushi.com/about/Declear.htm" target="_blank">法律声明</a>
            <a href="http://www.edushi.com/about/ContactUs.htm" target="_blank">联系我们</a>
        </div>
    </div>
</div>