<div class="hearder">
    <div class="wrapper">
        <div class="logo">
            <a href="http://www.edushi.com/" target="_blank"><img src="@Url.Content("~/asset/images/logo.png")"></a>
            <span>举报中心</span>
        </div>
    </div>
    <div class="mobile">
        <a href="javascript:history.go(-1);" class="back"></a>
        举报内容问题
    </div>
</div>
