@model Edushi.Bang.Web.PC.Models.SharedModel
<div class="page-footer">
	<div class="wrapper">
    	<ul class="footer-nav clr" id="footer_nav"></ul>
        <div class="footer-copyright">
        	<p>
            	广告经营许可证号:3301082100176&nbsp;&nbsp;&nbsp;@*出版号:ISBN:7-900200-28-2&nbsp;&nbsp;&nbsp;*@甲测资字:3300168&nbsp;&nbsp;&nbsp;浙B2-20050306&nbsp;&nbsp;&nbsp;浙公网安备 33010502000262号<br />
				Copyright &copy; 2004 - 2017 EDUSHI. All Rights Reserved
            </p>
            @*阿拉丁股份&nbsp;版权所有*@
        </div>
    </div>
</div>