@model Edushi.Bang.Web.PC.Models.SharedModel
<div class="hot-focus">
    <ul class="sidebar-nav">
        <li>热点轮播</li>
    </ul>
    <div class="hot-focusList clr">
        @Html.Raw(Model.RightHot)
    </div>
</div>
