<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    
    <add key="Connstring" value="Data Source=192.168.115.221,2433; Database=edushi_zixunok;User ID=sasa;Password=Ed5#98THKJgfR;" />
    <add key="mongodbConnection_Write" value="mongodb://192.168.115.221:10008/?safe=true"/>
    <add key="MongoDbName" value="edushi_zixun"/>
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--日志-->
  <log4net>
    <logger name="loginfo">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\LogFiles\Edushi.ZiXun.API\PC\" />
      <!-- 输出到什么目录-->
      <param name="AppendToFile" value="true" />
      <!-- 是否覆写到文件中-->
      <param name="MaxSizeRollBackups" value="100" />
      <!-- 备份文件的个数-->
      <param name="MaximumFileSize" value="10MB" />
      <!-- 单个日志文件最大的大小-->
      <param name="StaticLogFileName" value="false" />
      <!-- 是否使用静态文件名true-->
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <!-- 日志文件名-->
      <param name="RollingStyle" value="Date" />
      <!--Size-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t]%-5p %d [%c] %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
