<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>

		<!--默认Nosql指向-->
		<add key="NoSqlConnstring" value="mongodb://192.168.90.246/?safe=true"/>

		<!--各城市Nosql指向服务地址配置文件-->
		<add key ="NoSqlServerSettingPath" value="D:\NoSqlServerSetting.xml"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.serviceModel>
		<!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://dbs.edushi.com"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>-->
		<bindings>
			<basicHttpBinding>
				<binding name="bindingConfiguration" maxReceivedMessageSize="2147483647" messageEncoding="Text" transferMode="Streamed" sendTimeout="00:10:00"/>
			</basicHttpBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="EdushiBDTServiceBehavior"
			  name="Edushi.BdtWCF.BdtNoSqlService">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bindingConfiguration"
				  contract="Edushi.BDT.Contract.IBdtNoSqlService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service behaviorConfiguration="EdushiBDTHandleBehavior"
			  name="Edushi.BdtWCF.BdtNoSqlHandle">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="bindingConfiguration"
				  contract="Edushi.BDT.Contract.IBdtNoSqlHandle">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="EdushiBDTServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="EdushiBDTHandleBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>				
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	
</configuration>