html,body{margin:0;padding:0;}
body{font-size:12px; color:#333;text-align:left;}
img{border-width:0px}
form{padding:0;margin:0}
a{color:#369;text-decoration:none;}
a:hover{color:red; text-decoration:underline;}
.HackBox{clear:both;border-top:transparent 0px solid;height:0;overflow:hidden;}

/*输入框*/
input.InFieldSty{border:1px solid #84A5CE;border-right-color:#C1D2E7;border-bottom-color:#C1D2E7;background-color:#F7FBFF;}

/*提示*/
.NoInfoClew{background:url(../Images/ClewIco1.gif) no-repeat left 1px;padding-left:20px;height:21px;line-height:21px;}