
/* CSS Document */
*{ margin:0; padding:0px;}
br{ clear:both}
body{ font:12px "宋体"; }
a{ color:#336699;text-decoration:none;}
ul li{ list-style:none; padding:0px; margin:0px;}
.clear{ clear:both;}
input,textarea{ font-size:12px;}
img{ border:none;}
/*-------------  通栏信息  ----------------*/
.parth_index{ width:100%; height:40px;background: url(../images/index_l.jpg) repeat-x 0 0; margin-top:3px;}
.parth_A{ margin:0 auto; width:950px; padding-top:10px;}
.parth_A .ul_p,.parth_A .ul_p li{ float:left; display:inline;}
.parth_A .ul_p{ width:490px;}
.parth_A .ul_p li.li_s{ margin:0 20px; color:#fff; font-weight:bold; font-size:14px;}
.parth_A .ul_p li a{ color:#fff; font-weight:bold; font-size:14px;}
.qua{ float:right; margin-right:10px; color:#fff;}

/*---------------  content  ------------------*/
.content{ width:950px; margin:0 auto; margin-top:10px;}
.leftbar,.centerbar{ float:left; display:inline; background:#fff;}
.leftbar{ width:200px;}
.centerbar{ width:497px; margin:0 10px; _margin:0 8px; display:inline;}
.rightbar{ width:213px;float:right; display:inline; background:#fff;}

.L1,.L2,.C1,.C2{ margin-bottom:10PX;}
.L1,.L2{width:198px;}
.L1{border:solid 1px #979797;}
.L2{ border:solid 1px #ffb52e;}
.L2 a.Sty1{ font-size:14px; font-weight:bold; font-family:宋体; color:#936;}
.L2 a.Sty2{ font-size:14px; font-weight:bold; font-family:仿宋_GB2312; color:#33CCCC;}
.L2 a.Sty3{ font-size:16px; font-weight:bold; font-family:楷体_GB2312; color:#FF00FF;}
.L2 a.Sty4{ font-size:12px; font-weight:bold; font-family:楷体_GB2312; color:#0066CC;}
.L2 a.Sty5{ font-size:18px; font-weight:bold; font-family:宋体; color:#FF0000;}
.L2 a.Sty6{ font-size:18px; font-weight:bold; font-family:宋体; color:#333333;}
.L2 a.Sty7{ font-size:14px; font-weight:bold; font-family:宋体; color:#993300;}
.L2 a.Sty8{ font-size:16px; font-weight:bold; font-family:仿宋_GB2312; color:#99CC00;}
.C1,.C2{ width:498px;}
.C1{ border:solid 1px #88c367;}
.C2{ border:solid 1px #7abcdc;}


.L1 .title,.L2 .title,.C1 .title,.C2 .title ,.R1 .title{ height:21px; padding-left:8px; font-size:14px; margin:1px;  font-weight:bold; padding-top:5px; margin-bottom:13px; overflow:hidden;}
.t1{ background:#e2e2e2; color:#333333;}
.t2{ background:#ffebc6; color:#ff6400;}
.t3{ background:#e6f4d0; color:#ff6400;}
.t4{ background:#e1f0f7; color:#ff6400;}

.L1 ul{ margin-left:10px;}
.L1 ul li{ overflow:hidden; height:auto;}
.L1 ul li dl dt{ margin-bottom:4px;}
.L1 ul li dl dt a{ font-size:14px;}
.L1 ul li dl dd{ width:177px; }
.L2 ul{ margin-left:15px;}
.L2 ul li{ margin-bottom:10px; color:#369}
.L2 ul li a.graw{ line-height:18px; color:#666}

.C1 a,.C2 a{ font-size:14px;}
.ul_c{ margin:7px; margin-right:13px; }
.ul_c li{ height:26px; overflow:hidden;}
.ul_c span.span1{ float:right;}
.ul_c li a span{ font-size:14px; font-weight:bold; width:10px; color:#646464;}
.lable_1{ color:#ff6601;}
.xi_zb{ width:235px; }
.R1{ border:none; width:213px; margin-bottom:8px;_margin-bottom:3px; }
.R1 .center{ border-left:solid 1px #cccccc; border-right:solid 1px #ccc;}
.R1 .title{color:#666666; padding-top:8px; height:15px; overflow:hidden; _padding-top:2px; margin-bottom:9px;}

.R1 ul li{ overflow:hidden; height:19px;}
.texta1{width:120px; height:16px;  border:solid 1px #88abcf;}
.texta2{ width:50px; height:18px;  border:solid 1px #88abcf;}

.login_box{ padding-left:7px;}
.login_box .field{ padding-bottom:7px;}
.login_box .field label{ display:inline-block; padding-right:2px; text-align:right; width:50px;}
.login_box .submit{ overflow:hidden; padding:0 0 0 25px; _padding-left:40px; margin-bottom:8px;}
.a1{ background: url(../images/btn.jpg) no-repeat 0 -204px; width:40px; height:16px; display:block; float:left; text-align:center; padding-top:3px; color:#4e6955; margin-left:6px;}
.a2{ background:url(../images/btn2.jpg) no-repeat 0 0; width:189px; height:30px; display:block;}
.submit input.fx{ margin-left:7px; _margin-left:0px;}
.field span{ margin-left:8px; margin-top:4px; padding-top:5px;}
.submit2 { margin:0px 0 0px 4px;}

.login_box .information{ margin-bottom:0px; margin-left:5px; height:68px; overflow:hidden;}
.login_box .information .pici{ float:left; margin-right:8px; display:inline;}
.login_box .information .pici img{ width:60px; height:60px; border:solid 1px #cccccc; padding:1px;}
.login_box .information .texti{ float:left;}
.login_box .information .texti li{  padding:0; height:22px; overflow:hidden;}
.login_box .information .texti li span{ color:#ff6600;}
.my_qua{margin:1px 7px 5px 0; height:35px; line-height:35px; background:#f0f0f0; text-align:center; 
}
.my_qua a span{ color:#ff6600;}
.R1_ul{ margin-left:10px;}
.R1_ul li{ padding-top:7px; width:185px;}
.R1_ul li span{ color:#646464;}
.R1 .top{ background:url(../images/btn2.jpg) no-repeat 0 -231px; height:6px; width:213px;}
.R1 .center{ width:211px; margin-top:-2px; _margin-top:-3px; overflow:hidden;}
.R1 .top{ background:url(../images/btn2.jpg) no-repeat 0 -231px; height:6px; width:213px;}
.R1 .bottom{ background:url(../images/btn2.jpg) no-repeat 0 -241px; height:6px; width:213px;}
.ul_gz{ margin:0 10px 0 15px; list-style:none}
.ul_gz li{ margin-bottom:5px; line-height:24px;}
.ul_gz li dt{ border-bottom:dashed 1px #e0e1e0; color:#000; }
.ul_gz li dd a{ text-decoration:underline; color:#351fd1; }
.ul_gz li dd span{ padding-right:15px;}


.R2{ margin-bottom:10px; margin-left:4px; _margin-bottom:15px;}
.R2 .title{ margin-bottom:5px;}
.R2 .title a{ font-size:14px; width:195px; display:inline-block; color:#291cde; text-decoration:underline;}
.R2 .text{ line-height:20px; }
.R2 .text a{ color:#000;}
.wz{ color:#5b8458; font-family:Verdana, Geneva, sans-serif; margin-top:3px;}
/*---------------  公交问题  -------------------*/
.parth_index2{ width:940px; margin:0 auto; background:#eeeeee; height:20px; margin-top:8px; padding:6px 0 0 10px;}

.leftbar_q{ width:727px; float:left; margin-right:10px; overflow:hidden;}
.L_q1{ width:705px; background:#f0f7ff; padding:10px; border:solid 1px #c2d6ee; padding-bottom:25px;_padding-bottom:0px;}
.L_q1 .title{ height:23px; background:#fff; padding:7px 10px 0 15px;}
.L_q1 .title .left{ float:left; background:url(../images/zx.png) no-repeat;height:17px; padding-left:25px; font-size:14px; font-weight:bold; color:#369;}
.L_q1 .title .right{ float:right;}
.L_q1 .title .right a{ color:#ef7300; }
.L_q1 .text{ margin-top:15px; }
.L_q1 .text .ifo{ color:#aaa;}
.Questions_q{ float:left; width:115px; margin-right:25px; display:inline; margin-left:15px;}
.Questions_q ul li{ margin-bottom:2px;}
.Questions_q ul li.c_tx{ padding-top:6px;}
.Questions_q ul li.avatar,.Questions_q ul li.avatar img{ width:54px; height:54px;}
.Questions_q ul li.avatar img{ border:solid 1px #ccc; padding:1px; }
.Questions_q ul li.letter{ margin-top:8px;}
.Questions_q ul li.letter a{ color:#fd6b08; margin-right:6px;}
.Questions_x{ width:510px;}
.q_title{ color:#000; font-size:14px; font-weight:bold;}
.q_title span.sty1{ border:solid 1px #329b00;color:#329b00; background:#fff; padding:1px 4px; font-weight:lighter; font-size:12px;}
.q_title span.sty2{ border:solid 1px #ff9600;color:#ff9600; background:#fff; padding:1px 4px; font-weight:lighter; font-size:12px;}
.q_title span.sty3{ border:solid 1px #666;color:#666; background:#fff; padding:1px 4px; font-weight:lighter; font-size:12px;}
.q_label{ color:#9a9b9f; }
.q_label a{ text-decoration:underline; margin-right:8px; color:#0733d0;}
.q_information{  color:#9a9b9f;}
.q_information span{ margin-right:15px;}
.q_content{ font-size:14px; color:#000; margin-top:5px; }

.Questions{ float:left; width:525px; padding:10px; background:#fff;}
.Questions div{ line-height:24px;}

.q_btn{ margin-top:30px;}
.q_btn span{ display:block; float:left; margin-right:30px; color:#9a9b9f;}
.q_a1,.q_a2{ display:block; width:110px; height:31px; float:left; margin-right:15px; }
.q_a1{ background:url(../images/btn.jpg) no-repeat 0 -86px;}
.q_a2{ background:url(../images/btn.jpg) no-repeat 0 -117px;}


.L_q2{ width:705px; border:solid 1px #d6d6d6; padding:10px; margin-top:10px; margin-bottom:10px;}
.L_q2 .left{ background:url(../images/btn.jpg) no-repeat 0 -279px; width:59px; height:16px; padding-left:65px; margin-left:18px;}
.L_q2 .text{ margin-top:15px; border-bottom:dashed 1px #bbbbbb;}
.L_q2 .left2{ background:url(../images/btn.jpg) no-repeat 0 -279px; width:59px; height:16px; padding-left:25px; margin-left:18px;}
.L_q2 .left2 p{ background:#fff; display:block; line-height:16px; font-family:微软雅黑; font-size:14px; color:#333;}
.q_content2{ color:#000; font-size:14px; }

.q_content2 .map{ margin:7px 0; width:455px; height:380px;}
.q_time{ text-align:right;  color:#9a9b9f; }

.answer_input{width:650px; border:solid 2px #4f92c6; padding:0; margin:7px 0 10px 0; }
.answer{ background:#eff4fa; border:solid 1px #d8dbea; padding:15px; padding-left:25px; margin-top:10px;}
.answer .title{ background:url(../images/btn.jpg) no-repeat 0 -310px; width:123px; height:21px;}
.answer textarea{ border:none;width:645px; padding:5px 0 0 5px;height:62px; background:#fff;}
.answer textarea.textarea1{ height:212px;}
.line_a{ background:url(../images/line_a.jpg) repeat-x 0 0; height:32px; width:650px; line-height:32px;}
.line_a a{ height:25px;color:#9fa0a2; display:block; width:47px; float:left; background-image:url(../images/btn.jpg); padding-left:20px; overflow:hidden; margin-left:8px; _margin-left:4px;}
.a11{ background-position:0 -363px;}
.a12{ background-position:0 -391px;}

.Reference{ float:left; width:350px; }
.Reference input{ padding:2px 0 0 5px;color:#dbdbdd; border:solid 1px #d5dae0; background:#fff; width:275px; height:18px; vertical-align:middle; }
.R_btn{ float:right;}

.answer_btn { width:655px;}
.answer_btn .btn a,.answer_btn .btn input,.answer_btn label{ display:block; float:left;}
.a3{ background:url(../images/btn.jpg) no-repeat 0 -148px; width:90px; height:31px;}
.answer_btn .btn{ float:right;}
.answer_btn .btn input,.answer_btn label{ display:inline; margin-top:7px;}
.answer_btn .btn input{ margin-right:8px;  margin-top:4px}

.share{ border:solid 1px #d6d6d6; margin-top:10px; padding:15px; color:#000; overflow:hidden;}
.share a{ width:70px; height:28px; display:block; float:left; margin-right:8px; }
.share span{ display:block; float:left;}
.share img{ border:0px;}

/*---------------  娱乐休闲  --------------------*/
.L_a1{ border:solid 1px #ceecf4; padding-bottom:10px;}
.L_a1 .title{ margin-bottom:15px;background:#e7f6fb; height:26px; color:#2f2f2f; font:bold 14px "宋体"; line-height:26px; padding-left:15px;}
.L_a1 ul{ margin:0 0 0 25px; width:666px; overflow:hidden;}
.L_a1 li{ float:left; width:222px; margin-bottom:5px;}
.L_a1 li a{ color:#241cd2; text-decoration:underline; font-size:14px;}
.L_a1 li span{ font-size:14px; color:#010437; font-family:Arial, Helvetica, sans-serif; margin-left:3px;}
.L_a1 li span.span1{ font-size:18px; _font-size:11px; font-weight:bold; margin-right:5px;}
.line_title{ margin:15px 0; background:url(../images/btn.jpg) no-repeat 0 -425px; padding-left:15px; color:#9d9d9d;}

.all_ask{ position: relative; border:solid 1px #e4e4e4; margin-top:50px;}
.TAB{
	position:absolute;
	top: -30px;
}
.TAB li{ float:left; margin-right:8px;}
.TAB li a{ line-height:29px; text-align:center; font-size:14px;text-decoration:underline;display:block; background:url(../images/TAB.jpg) no-repeat 0 -29px; color:#303030; width:90px; height:29px;}
.TAB li a:hover{ text-align:center; color:#297d95; font-weight:bold;background:url(../images/TAB.jpg) no-repeat 0 0; width:106px; height:29px; text-decoration:none;}
.TAB li a.current{ text-align:center; color:#297d95; font-weight:bold;background:url(../images/TAB.jpg) no-repeat 0 0; width:106px; height:29px; text-decoration:none;}

.ask{ margin:5px; width:695px;}
.ask .title{ border-bottom:solid 1px #eeeeee; margin:7px 0; color:#393939; padding-bottom:5px;}
.s_1,.s_2,.s_3,.s_4{ float:left;}
.s_1{ width:490px; margin-left:5px;}
.s_2{ width:45px;}
.s_3{ width:60px;}
.s_4{ width:65px;}

.wenti li{ border-bottom:dashed 1px #ededed; line-height:26px; overflow:hidden; height:26px;}
.s_1 .lable_a,.s_1 .s_C{ float:left;}
.s_1 .lable_a{ margin-right:10px; font-size:14px; color:#0b067e;}
.s_1 .s_C a{ display:block; width:350px; font-size:14px; text-decoration:underline;  color:#3331d2;}
.wenti li .s_2,.wenti li .s_3{ text-align:center;}
.wenti li .s_2{ font-family:Arial, Helvetica, sans-serif;}

.number{ text-align:center; margin:15px 0;}
.number a{ margin-left:5px; font-size:14px;  text-decoration:underline;  color:#3331d2;}
.tw{ margin-top:10px; float:right; margin-right:3px; display:inline;}
.tw a{ font-size:14px; color:#2e33cd; text-decoration:underline;}

.ask_A2 ul li{ margin:15px 0; overflow:hidden;}
.ask_A2 ul li label,.a_b,.a_b2,.a_b3{ float:left;}
.ask_A2 ul li label{ width:80px; font-size:14px;}
.ask_A2 ul li label span{ color:#F00; margin-right:5px;}

.ask_A2 ul li label,.a_b select{ height:20px; width:75px; margin-right:10px;}
.a_b2{ height:41px; background:#f0f9e8; width:590px; padding:10px 10px 5px 10px;}
.a_b2 input{ border:solid 1px #e5e8ef; border-top: solid 1px #aaadb2; width:560px; height:17px; padding:3px 0 0 5px;}

.a_b3{background:#f0f9e8; width:590px; padding:10px 10px 5px 10px; }
.a_b3 textarea{width:560px; height:147px;border:solid 1px #e5e8ef; border-top: solid 1px #aaadb2; overflow:hidden;  padding:3px 0 0 5px;}
.a13{ margin-left:320px; background:url(../images/btn.jpg) no-repeat 0 -31px; display:block; width:110px; height:28px; text-align:center; }


/*-------------------  弹出窗口  --------------------------*/
.windows{ width:740px; height:520px; border:solid 1px #becca8; padding:10px;  padding:15px;}
.windows a{ text-decoration:underline; color:#351fd1}
.windows .title{ border-bottom:solid 2px #65add5; height:35px;}
.windows .title .left{ float:left; font:bold 16px "微软雅黑";}
.windows .close{ float:right; background:url(../images/btn.jpg) no-repeat -115px -30px; width:19px; height:19px; margin-right:20px;}
.windows .text{ margin:15px 0 0 10px; overflow:hidden;}
.win_s{ margin-bottom:10px;}
.win_s input,.win_s a,.win_s span{ display:block; float:left; margin-right:10px;}
.win_s input{ height:22px; width:280px;}
.win_s  .a14{ background:url(../images/btn.jpg) no-repeat -77px -179px; width:70px; height:21px;}
.win_select{ padding-top:10px;}
.win_c{ width:700px; margin-top:10px;}
.win_c .left,.win_c .right{ float:left;}
.win_c .left{ width:455px; height:310px; margin-right:15px; display:inline;}
.win_c .left img{ width:455px; height:310px;}
.win_c .right{ width:230px; overflow:hidden;}
.qh_city{ height:22px; border-bottom: solid 1px #999;}
.dq_city{ float:left; font-weight:bold; color:#000;}
.xz_city { float:right; background:url(../images/btn.jpg) no-repeat 55PX -442px; padding-right:20px;}
.sl{ margin-top:10px; line-height:22px; color:#000;}
.sl p{ line-height:22px;}

.win_btn{ background:#f3fbf0; padding-left:200px; height:42px; margin-top:10px;  padding-top:20px;}
.win_btn a,.win_btn input,.win_btn label{ display:block; float:left; margin-right:5px;}
.a15{ background:url(../images/btn.jpg) no-repeat 0 -58px; width:116px; height:28px; margin-left:15px;}
.win_btn input ,.win_btn label{ margin-top:5px;}

.mores{ font-size:12px; font-weight:normal;}
/*补充*/
.boxDiv{background:url(../Images/ClewBg1.gif) no-repeat left top;width:280px; height:110px; padding:5px 10px;text-align:left;position:relative;overflow:hidden;}
#divDialogTitle{font-size:14px;font-weight:bold;padding:0 0 0 16px;margin:0 0 3px;height:23px;line-height:23px; background:url(../Images/CommonArrow1.gif) no-repeat left 5px;}
#divDialogMsg{padding:5px 15px 5px 20px;line-height:150%;text-align:left;}
#divClose{position:absolute; top:8px; right:8px; cursor:hand; width:13px; height:13px; overflow:hidden;background:url(../Images/CloseBtn.gif) no-repeat left top;}
.btnsty{ background:url(../images/btn.jpg) 0px -179px; width:76px; height:25px; line-height:25px; overflow:hidden; text-align:center; border:0px; cursor:pointer}


/*最佳答案*/
.zjda{ width:717px; border:solid 1px #fdd57b; padding:4px; margin-top:10px; background:#fdf9d8 }
.zjda .bd{ padding:5px; background:#fff;}
.zjda .left{ background:url(../images/btn.jpg) no-repeat 0 -279px; width:59px; height:16px; padding-left:65px; margin-left:18px;}
.zjda .text{ margin-top:15px; border-bottom:dashed 1px #bbbbbb;}
.zjda .tt{font-size:14px; font-weight:bold; color:#f60; height:30px;}
.zjda .tt span{ display:block; float:left; padding-right:10px; line-height:30px;}
.zjda .tt span.ico{ margin-top:-10px; z-index:10; position:relative}
.zjinfo{ padding:10px;}
.zjinfo ul{ border-top:1px dashed #ddd;}
.zjinfo ul .ifo{ color:#aaa;}
.zjinfo ul .tbd{ color:#333; font-size:14px;}
.zjda .pinlun{ padding:10px 0; border-top:1px solid #ccc; font-size:14px; color:#333; }
.zjda .pinlun .t{font-weight:bold;color:#000;}
.L_q2 .tt{ font-size:14px; font-weight:bold; color:#000;}


.conok{ background:url(../images/bj_03.png) repeat-x; margin:10px; padding:30px;}
.conok .suc{ background: url(../images/suc.png) no-repeat; margin:auto; padding:10px 0 10px 50px; color:#333; font-size:14px; line-height:20px}
.conok .suc .ti{ font-family:"微软雅黑"; font-size:18px; color:#000; font-weight:bold; margin-bottom:10px}
.conok .tip{ background: url(../images/gif_48_056.gif) no-repeat; margin:auto; padding:10px 0 10px 50px; color:#333; font-size:14px; line-height:20px}
.conok .tip .ti{ font-family:"微软雅黑"; font-size:18px; color:#000; font-weight:bold; margin-bottom:10px}

.conok .fal{ background: url(../images/face.gif) no-repeat;padding:10px 0 10px 80px; }

.sbox{ border:1px solid #ccc; border-top:2px solid #090; width:620px; margin:auto; padding:10px; font-size:14px; color:#333; line-height:24px}

.cl_btn{ border:1px solid #ccc; padding:10px; margin-top:10px; font-size:14px; background:#FFF;font-size:12px;}
.cl_btn h3{ font-size:14px; color:#000;}
.cl_btn a.bc{ display:block; float:left; background:url(../images/btn.jpg) no-repeat -218px -20px; padding:0 10px 0 20px;}
.cl_btn a.gb{ display:block; float:left; background:url(../images/btn.jpg) no-repeat -218px 5px; padding:0 10px 0 20px;}

.clwt{ padding-bottom:10px;}
.clwt a{ border:1px solid #ccc; padding:3px 10px;}
.clwt a:hover{border:1px solid #ccc; padding:2px 10px; color:#fff; background:#f90}


.layleft{ float:left;margin:10px 0; width:720px}
.layright{ float:right;margin:10px 0; width:200px}
.Pager{margin-top:10px}


/*-------------------  弹出窗口  --------------------------*/
.windows{ width:740px; height:520px; border:solid 1px #becca8; padding:10px;  padding:15px;}
.windows a{ text-decoration:underline; color:#351fd1}
.windows .title{ border-bottom:solid 2px #65add5; height:35px;}
.windows .title .left{ float:left; font:bold 16px "微软雅黑";}
.windows .close{ float:right; background:url(../images/btn.jpg) no-repeat -115px -30px; width:19px; height:19px; margin-right:20px;}
.windows .text{ margin:15px 0 0 10px; overflow:hidden;}
.win_s{ margin-bottom:10px;}
.win_s input,.win_s a,.win_s span{ display:block; float:left; margin-right:10px;}
.win_s input{ height:22px; width:290px; line-height:22px; font-size:13px;}
.win_s  .a14{ background:url(../images/btn.jpg) no-repeat -77px -179px; width:70px; height:21px;}
.win_select{ padding-top:10px;}
.win_select input{ display:inline-block; vertical-align:middle;}
.win_c{ width:700px; margin-top:10px;}
.win_c .left,.win_c .right{ float:left;}
.win_c .left{ width:455px; height:310px; margin-right:15px; display:inline;}
.win_c .left img{ width:455px; height:310px;}
.win_c .right{ width:230px; overflow:hidden;}
.qh_city{ height:22px; border-bottom: solid 1px #999;}
.dq_city{ float:left; font-weight:bold; color:#000;}
.xz_city { float:right; background:url(../images/btn.jpg) no-repeat 55PX -442px; padding-right:20px;}
.sl{ margin-top:10px; line-height:22px; color:#000;}
.sl p{ line-height:22px;}

.win_btn{ background:#f3fbf0; padding-left:200px; height:42px; margin-top:10px;  padding-top:20px;}
.win_btn a,.win_btn input,.win_btn label{ display:block; float:left; margin-right:5px;}
.a15{ background:url(../images/btn.jpg) no-repeat 0 -58px; width:116px; height:28px; margin-left:15px;}
.win_btn input ,.win_btn label{ margin-top:5px;}

/*插入地图右侧 */
#divContent{ line-height:20px;}
#divResult{ padding:10px 0px 0px 0px;}
#loading{ line-height:16px; padding:10px; text-align:center;display:none;}
#loading img{ display:inline-block; vertical-align:middle;}


.btnsty{ background:url(../images/btn.jpg) 0px -179px; width:76px; height:25px; line-height:25px; overflow:hidden; text-align:center;}

.news { background:#fffcf0; margin-bottom:10px; padding:8px; clear:both;}
.news ul{ clear:both; zoom:1}
.imagenews{ float:left; padding-right:8px; width:235px;}
.txtnews{ float:right; width:230px;}
.txtnews h1{width:230px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
h1{ text-align:center; font-size:14px; padding:0;}
.jtxt{ margin:5px 0 10px 0; line-height:16px;}
.jtxt a{ color:#666; text-decoration:underline;}
.newslist{clear:both; zoom:1; line-height:20px; margin-top:5px}
.newslist li{ width:230px; padding-right:10px; float:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
ul.help li{height:30px}

.ph{ margin:0 0 10px 3px; clear:both;}
.ph .title{ background:url(../images/zx_bar.png) no-repeat; height:36px; font-family:微软雅黑; padding-left:15px; font-size:16px; line-height:32px; color:#333}
.phbd{ padding:10px 10px 0 30px; border:1px solid #ddd; background:url(../images/num.png) no-repeat 10px 12px;}
.phbd p{ padding-bottom:16px; line-height:20px}
.answer .tt{font-family:微软雅黑; font-size:16px; line-height:20px; color:#369}
.fbbtn{padding:2px 4px; height:30px;}
.fbbtn a{ background:url(../images/btn.jpg) no-repeat 0 0; width:100px; height:30px; display:block; float:left; line-height:28px; font-family:微软雅黑; font-size:14px; text-align:center; color:#fff; font-weight:bold;}

.zxbd{ background:#fff; padding:10px; float:left}

.interest{ font-size:14px;}
.interest h2{ color:#000; font-size:16px; margin-bottom:5px;}
.interest p{ padding-left:15px; background: url(../images/dian.png) no-repeat 5px center}
