html{overflow:hidden;}
body{ overflow:hidden;margin:0;padding:0; font-size:12px; color:#333; line-height:22px; width:100%;background-color:Transparent;}
a{ color:#1A70C7; font-size:12px; text-decoration:none; cursor:pointer}
a:hover{color:#1A70C7; font-size:12px; text-decoration:underline}
ul{ list-style-type:none; margin:0; padding:0;}
.huancheng{ height:40px; padding:5px 0 0 5px;  margin-top:20px;}
.huancheng .se{ margin:1px 0 0 0;}
.huancheng li{ float:left; height:22px;}
.huancheng li input{ width:120px; margin-left:2px;}
.huancheng .chaxun1{background-image:url(../images/newmap62.gif); background-repeat:no-repeat; width:48px; height:22px; line-height:22px; text-align:center; margin:2px 0 0 2px;}