/* 变量 */
/*CSS Reset*/
html {
  font-size: 24px;
  margin: 0;
  font-family: 'PingFangSC-Regular','STHeiti', 'Microsoft YaHei', Helvetica, Arial;
}
div,
form,
acronym,
img,
ul,
ol,
li,
dl,
dt,
dd,
header {
  margin: 0;
  padding: 0;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0 ;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 0 ;
  background: #fff;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
a {
  text-decoration: none;
}
input[type=button],
input[type=submit],
input[type=file],
button,
textarea {
  cursor: pointer;
  -webkit-appearance: none;
}
/**/
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clearfix:after,
.clr:after {
  content: "";
  display: table;
  clear: both;
}

header {
  position: relative;
  height: 0.88rem;
  padding: 0 0.3rem;
  font-size: 0.36rem;
  text-align: center;
  color: #2f3133;
  line-height: 0.88rem;
}
header .back {
  position: absolute;
  left: 0.3rem;
  top: 0.28rem;
  display: inline-block;
  width: 0.18rem;
  height: 0.32rem;
  margin-right: 0.22rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -4.72rem;
  background-size: 0.8rem 8rem;
  vertical-align: -0.23rem;
}
.error-box {
    padding-top: 0.92rem;
}
.error-img {
  width: 4.3rem;
  height: 5.69rem;
  margin: 0 auto;
  background: url(../images/error.png) no-repeat;
  background-size: cover;
}
.error-tip {
  margin-top: 0.22rem;
  font-size: 0.3rem;
  color: #2f3133;
  text-align: center;
  line-height: 0.44rem;
}
.back-home {
  display: block;
  width: 4.8rem;
  height: 0.84rem;
  margin: 0.55rem auto 0;
  font-size: 0.34rem;
  color: #fff;
  text-align: center;
  line-height: 0.84rem;
  background: linear-gradient(to right, #fd625e,#ff413e);
  border-radius: 0.4rem;
}



