body{margin:0;padding:0; font-size:12px; color:#333; line-height:22px; height:370px;font-family:Arial, Helvetica, sans-serif;}
a{ color:#1A70C7; font-size:12px; text-decoration:none; cursor:pointer}
a:hover{color:#1A70C7; font-size:12px; text-decoration:underline}
ul{ margin:0; padding:0;list-style-type:none }
.Bus{margin-left:5px;width:285px; font-size:12px; color:#000; height:370px; overflow-y:auto; overflow-x:hidden;}
.Bus .Title{ height:25px; line-height:25px; border-bottom:1px dashed #ccc;background:url(images/bus01.gif) 0 25px repeat-x;}
.Bus .BusLineNormal{border-bottom:1px dashed #ccc; height:25px; line-height:25px;background:url(images/bus02.gif) no-repeat left center; padding-left:10px; margin-left:5px; cursor:pointer}
.Bus .BusLineNormal font{color:#FF6600; font-size:12px; font-weight:bold}
.Bus .BusLineActive{border-bottom:1px dashed #ccc; height:25px; line-height:25px;background:url(images/bus02up.gif) no-repeat left center; padding-left:10px; margin-left:5px; cursor:pointer}
.Bus .BusLineActive font{color:#FF6600; font-size:12px; font-weight:bold}

.Bus .Title font{color:#FF3300; font-size:12px}
.Bus .Info{ height:65px;}
.Bus .Info li{ height:20px; line-height:20px; background:url(images/bus03.gif) no-repeat 2px center; margin-left:5px; padding-left:10px}
.Bus .Info li font{color:#FF6600; font-size:12px; font-weight:bold}
.Bus .Info li span{ font-weight:bold; margin-right:3px}
.Bus .NameHead{ height:27px; line-height:27px;}
.Bus .NameHead .ActionLeft{ border:solid #adadad; border-width:1px 1px 0 1px; float:left; height:27px; width:194px; font-weight:bold; padding-left:5px;background:url(images/b.gif); cursor:pointer; overflow:hidden;}
.Bus .NameHead .UnActionLeft{ border:1px solid #adadad; margin-top:2px;float:left; height:24px; line-height:24px; width:194px; padding-left:5px; cursor:pointer; overflow:hidden ;}
.Bus .NameHead .ActionRight{ border:solid #adadad; border-width:1px 1px 0 1px;font-weight:bold; float:left; height:27px; width:64px; text-align:center;background:url(images/b.gif); cursor:pointer;}
.Bus .NameHead .UnActionRight{ border:solid #adadad; border-width:1px 1px 1px 0px; margin-top:2px;float:left; height:24px; line-height:24px; width:64px; color:#FF6600; text-align:center; overflow:hidden; cursor:pointer;}
.Bus .NameHead span{ float:left; margin:0 3px 0 3px}
.Bus .NameHead span img{ margin-top:9px}
.Bus .BusShow{width:295px; border:solid #adadad; border-width:0 1px 1px 1px;}
.Bus .BusShow .Time{ height:22px; line-height:22px; border-bottom:1px solid #adadad; padding-left:5px;width:278px; clear:both;}
.Bus .BusShow .BusName li{ height:25px; line-height:25px; border-bottom:1px dashed #ccc; padding-left:5px;}
.Bus .BusShow .BusName li span{ color:#196ecb; margin-left:5px; cursor:pointer;}