/* LESS Document */
/* LESS Document */
/*CSS Reset*/
html {
  font-size: 24px;
  margin: 0;
  font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial;
}
div,
form,
acronym,
img,
ul,
ol,
li,
dl,
dt,
dd,
header {
  margin: 0;
  padding: 0;
  border: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0 ;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0 ;
  background: #fff;
  width: 7.2rem;
}
a {
  text-decoration: none;
}
/**/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hidden {
  display: none;
}
.ovhidden {
  overflow: hidden;
}
hr.line {
  height: 0.2rem;
  background-color: #f8f8f8;
  margin: -1px 0;
  border: none;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
/*图标样式*/
.top-app-icon {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  background-image: url(../images/top_icon.png);
  background-position: 0 0;
  background-size: cover;
}
.top-yuan-icon {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  background-image: url(../images/top_icon.png);
  background-position: 0 -0.44rem;
  background-size: cover;
}
.top-nav-icon {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  background-image: url(../images/top_icon.png);
  background-position: 0 -0.88rem;
  background-size: cover;
}
.top {
  width: 7.2rem;
  height: 1rem;
  line-height: 1rem;
  background-image: url(../images/header_top_bg.png);
  background-size: cover;
}
.top:after {
  content: "";
  position: absolute;
  left: 1.95rem;
  top: 0.38rem;
  display: inline-block;
  width: 2.74rem;
  height: 0.27rem;
  background-size: cover;
}
.top.no-text:after {
  display: none;
}
.top.landscape {
  background-position: -0.15rem -0.12rem;
  background-size: 6rem 0.75rem;
  height: 0.5rem;
  line-height: 0.5rem;
}
.top.landscape .logo {
  width: 0.77rem;
  height: 0.24rem;
  margin-top: 0.1rem;
}
.top.landscape .top-btn {
  width: 0.29rem;
  margin-top: 0.08rem;
  line-height: 0.07rem;
}
.top.landscape .top-btn .top-app-icon,
.top.landscape .top-btn .top-yuan-icon,
.top.landscape .top-btn .top-nav-icon {
  width: 0.22rem;
  height: 0.22rem;
}
.top.landscape .top-btn .top-app-icon.top-yuan-icon,
.top.landscape .top-btn .top-yuan-icon.top-yuan-icon,
.top.landscape .top-btn .top-nav-icon.top-yuan-icon {
  background-position: 0 -0.22rem;
}
.top.landscape .top-btn .top-app-icon.top-nav-icon,
.top.landscape .top-btn .top-yuan-icon.top-nav-icon,
.top.landscape .top-btn .top-nav-icon.top-nav-icon {
  background-position: 0 -0.44rem;
}
.top.landscape .top-btn span {
  font-size: 0.11rem;
}
.top .logo {
  display: inline-block;
  width: 1.54rem;
  height: 0.48rem;
  background-image: url(../images/logo.png);
  background-size: cover;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
}
.top .ur-here {
  display: inline-block;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-left: 0.2rem;
  vertical-align: 0.05rem;
}
.top .ur-here .top-channel {
  display: inline-block;
  height: 0.38rem;
  line-height: 0.38rem;
  padding-bottom: 0.02rem;
  color: #fff;
  padding: 0 0.1rem;
  background-color: #cc2900;
  border-radius: 0.1rem;
}
.top .ur-here a {
  color: #cc2900;
  font-size: 0.28rem;
}
.top .ur-here i {
  margin: 0 0.15rem;
  vertical-align: -0.03rem;
}
.top .top-btn {
  display: inline-block;
  text-align: center;
  width: 0.58rem;
  line-height: 0.15rem;
  margin-top: 0.15rem;
  margin-right: 0.2rem;
}
.top .top-btn span {
  color: #0090ff;
  font-size: 0.22rem;
}
header {
  top: 0;
  z-index: 8;
}
header.fixed {
  position: fixed;
  box-shadow: 0 0.03rem 0.05rem rgba(0, 0, 0, 0.2);
}
header.w nav .main-nav .wrap {
  width: 7.2rem;
}
header.w nav .main-nav .wrap a {
  width: 1.13rem;
}
header.landscape nav .main-nav {
  height: 0.45rem;
  line-height: 0.45rem;
}
header.landscape nav .main-nav .wrap {
  width: 6.75rem;
}
header.landscape nav .main-nav .wrap a {
  width: 0.9rem;
  font-size: 0.2rem;
}
header.landscape nav .main-nav .wrap a.on:after {
  bottom: 0.06rem;
  height: 0.03rem;
}
header.landscape nav .main-nav .wrap a i {
  bottom: 0.05rem;
  height: 0.02rem;
}
header.landscape nav .main-nav .nav-btn {
  width: 0.377rem;
}
header.landscape nav .more-nav a {
  width: 14.285%;
  height: 0.3rem;
  line-height: 0.3rem;
  font-size: 0.2rem;
}
header.landscape .sub-nav {
  height: 0.4rem;
  line-height: 0.4rem;
}
header.landscape .sub-nav a {
  width: 0.9rem;
  font-size: 0.168rem;
}
header nav ::-webkit-scrollbar {
  height: 0px;
}
header nav .main-nav {
  position: relative;
  height: 0.9rem;
  line-height: 0.9rem;
  background-color: #ff5e00;
}
header nav .main-nav .wrap {
  display: inline-block;
  width: 6.45rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
header nav .main-nav .wrap a {
  position: relative;
  display: inline-block;
  width: 1.074rem;
  text-align: center;
  color: #fff;
  font-size: 0.34rem;
}
header nav .main-nav .wrap a.on {
  font-weight: bold;
}
header nav .main-nav .wrap a.on i {
  display: inline-block;
}
header nav .main-nav .wrap a.on:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0.16rem;
  margin-left: -0.125rem;
  width: 0.25rem;
  height: 0.04rem;
  background-color: #fff;
  border-radius: 1rem;
}
header nav .main-nav .nav-btn {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 0.752rem;
  height: 100%;
  vertical-align: top;
  background-color: #ff7214;
  background-image: url(../images/icon.png);
  background-size: cover;
}
header nav .more-nav {
  position: absolute;
  display: none;
  background-color: rgba(255, 255, 255, 0.98);
  padding: 0.25rem 0;
  box-shadow: 0 0.03rem 0.05rem rgba(0, 0, 0, 0.2);
  z-index: 9;
}
header nav .more-nav a {
  display: inline-block;
  color: #666;
  width: 20%;
  height: 0.62rem;
  line-height: 0.62rem;
  text-align: center;
  font-size: 0.34rem;
  margin: 0.06rem 0;
}
header nav .sub-nav {
  width: 7.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f3f3f3;
  border-bottom: 1px solid #fff;
}
header nav .sub-nav a {
  display: inline-block;
  width: 1.2rem;
  text-align: center;
  color: #49413b;
  font-size: 0.28rem;
}
header nav .sub-nav a:active {
  background-color: #ddd;
}
header nav .sub-nav a.on {
  color: #ff5e00;
}
.content-main {
  position: relative;
}
footer {
  padding: 0.4rem 0.2rem;
  background-color: #eee;
  text-align: center;
}
footer .download-box .download {
  display: inline-block;
  vertical-align: top;
  width: 1.1rem;
  text-align: center;
  margin-right: 0.8rem;
}
footer .download-box .download .edushi-icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/edushi_down_icon.png);
  background-size: cover;
}
footer .download-box .other {
  display: inline-block;
  vertical-align: top;
}
footer .download-box .other .footer_text {
  display: inline-block;
  width: 1.34rem;
  height: 0.3rem;
  background-image: url(../images/footer_text.png);
  background-size: cover;
  margin-bottom: 0.145rem;
}
footer .download-box .other .download-btn {
  display: block;
  padding: 0.12rem 0.26rem;
  border: 1px solid #ddd;
  color: #ff5e00;
  font-size: 0.24rem;
  border-radius: 0.1rem;
}
footer .download-box .qr {
  display: inline-block;
}
footer .download-box .qr img {
  width: 0.88rem;
  height: 0.88rem;
  padding: 0.065rem;
  background-color: #fff;
}
footer .download-box .name {
  display: block;
  color: #666;
  font-size: 0.22rem;
  margin-top: 0.15rem;
}
footer hr {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}
footer p {
  text-align: center;
  color: #989898;
  font-size: 0.22rem;
}

.widget-btns{
	bottom:2rem !important;
}