<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Migrated rules for Enyim.Caching.ruleset" Description="已通过项目“E:\212TFS\EDUSHI_DATA_CENTER\EdushiDataCenter\v2.0\EdushiDataCenterSolution\Enyim.Caching\Enyim.Caching.csproj”中的“Release (Any CPU)”配置的 CodeAnalysisRules 属性创建此规则集。" ToolsVersion="10.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
  </Rules>
</RuleSet>