html {
  margin: 0;
  font-family: 'PingFangSC-Regular', 'STHeiti', 'Microsoft YaHei', Helvetica, Arial;
}

div,
img,
ul,
ol,
li,
dl,
dt,
dd,
header {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #333;
}

input {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
}