<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SqlConn" value="Data Source=192.168.90.246,1433; Database=edushi_second_hangzhou;User ID=sa;Password=edushi@1234;Connect Timeout=500"/>
		<add key="NoSqlServerSettingPath" value="NoSqlServerSetting.xml"/>
		
		<add key="NoSqlConnstring" value="mongodb://211.155.229.107:10008/?safe=true"/>
		<add key="NoSqlConnstringA" value="mongodb://222.73.207.81:10008/?safe=true"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
