@import url(Common.css);
body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, img, td, div, input{
margin:0;padding:0;
}
ul, li{ list-style:none;}
.clearfix:before,.clearfix:after{ display:table; content:" ";}
.clearfix:after{ clear:both;}
.clearfix{ *zoom:1;}
.f-l{ display:inline; float:left;}
.f-r{ display:inline; float:right;}	
.position-re{position:relative;}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	body, button, input, select, textarea{line-height:normal !important;}
	input, select, textarea{outline-style:none;}
}
.busstation{height:auto; width:300px;overflow-y:auto;overflow-x:hidden;}
.action .h{cursor:pointer; margin:2px 0; height:27px; line-height:27px; background:#ffffff url(../Images/SearchNavLine.gif) repeat-x left bottom;}
.action .active{cursor:pointer; margin:2px 0; height:27px; line-height:27px; background-color:#f6f6f6;}
.busstation ul li:hover{background-color:#f6f6f6;}
.imgsup{width:7px; height:8px; background:url(../Images/UpIco.gif) no-repeat left top; float:left; margin:10px 5px 0;}

.action .imgs{width:7px; height:8px; background:url(../Images/DownIco.gif) no-repeat left top; float:left; margin:10px 5px 0;}
.info div{padding-left:18px; cursor:pointer; line-height:21px;color:#336699;}
.info div:hover{ color:Red; text-decoration:underline;}
.info{ display:none;}
.Photo{height:60px;width:300px; margin:5px 0;}

/*新公交*/

.bus-station-box{width:335px;margin:0 auto;}
.bus_box{width:335px;margin:0 auto;}

.bus_line{margin:5px 0 0 4px; padding:0 0 3px 0;overflow-y:auto;overflow-x:hidden;}
.bus_line h1{width:310px;font-size:12px; color:#333; font-weight:normal; text-align:left; margin-bottom:8px;}

.bus_zhan_title{ margin-bottom:10px; padding-left:18px;background:url(/images/link_icon.gif) no-repeat 0 -47px; font-size:12px; font-weight:normal; color:#5c8cd1; cursor:pointer; white-space:nowrap; text-overflow:ellipsis;}
.bus_zhan_title a{ display:block; width:13px; height:13px;margin:-15px 0 0 230px;}
.bus_zhan_on{ background-position:0 -33px;}
.bus_zhan_con{ margin:5px 0 8px 15px; color:#999; line-height:22px; font-size:13px;}
.bus_zhan_con li{ margin-top:5px; cursor:pointer;}
.bus_zhan_con li a{ color:#767676; margin:0px 0 0 6px;}
.bus_zhan_con li a:hover{ color:#FF8500;}

.bus_zhan_img{width:13px; height:13px;}

.bus_pubsearch{ margin:10px 0 8px;}
.bus-search-ipt{ width:240px; height:32px; margin-right:5px; background:#fff; border:1px solid #d8d8d8; text-indent:12px; line-height:38px; box-shadow:inset 0 0 1px 1px rgba(104,104,104,.2);}
.bus-search-btn{ width:82px; height:32px; text-align:center; font-size:14px; color:#000; line-height:38px; cursor:pointer; background:url(/images/search_btnbg_gray.gif) repeat-x; border:none; border-bottom:1px solid #b2b2b2;}