/* CSS Document */
*{ margin:0; padding:0;}
body{ font-size:12px;}
.clear{ clear:both;}
.clearfix:before,.clearfix:after{ display:table; content:" ";}
.clearfix:after{ clear:both;}
.clearfix{ *zoom:1;}
ul li{ list-style:none; margin:0; padding:0;}
a{ text-decoration:none; color:#2750aa;}
img{ display:block; border:none;}
.MC a.xle18b34{ color:#e18b34; font-weight:normal; font-size:12px;}
.xl9e1c04{ color:#9e1c04;}
.MC a.xl3e3e3e{ color:#3e3e3e; font-weight:normal; font-size:12px;}
.kk230,.kk260{display:block;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.kk230{
	width:190px;
}
.kk210{
	width:145px; overflow: hidden; white-space: nowrap;text-overflow: ellipsis;display:block; float:left;
}
.kk260{ width:280px;}
.xl777{ color:#777;}
.T_shu{
	line-height:25px;
	color:#3e3e40;
	padding:0 7px;
	background:#e3efff;
	border:solid 1px #e7e7e7;
	margin-bottom:10px;
	background: #f4f4f4 url(../images/icon_1.jpg) no-repeat 5px 3px; padding-left:25px;
	
}
.T_shu span{ 
	margin:0 2px;
	font-weight:bold;
	color:#d62f10;
	}


.Map_y{ 
	width:338px; 
	height:400px;
	margin:8px auto 0;
	overflow-x:hidden;
	overflow-y:auto;
}
#list{
	width:333px; margin:0 auto;
}
.ul_1{
	width:333px;overflow:hidden;
}
.ul_1 li{ 
	padding:12px 8px 6px; font-family:SimSun;
}
.li_s{
	background:#fbfbfb;
}
.MC,.DZ,.YHQ,.GG{ 
	margin-bottom:2px; 
	/*overflow:hidden;*/
}
.MC{ 
	margin-bottom:3px; color:#898989;
}
.MC a,.DZ a,.YHQ z ,.GG a{
	 display:block;
	 }
.location-r{
	position:relative; display:inline; float:left; width:280px;
}
.MC a{ 
	display:block; float:left; margin-bottom:5px; font-size:14px; font-weight:bold; color:#1b9adb;
}
.MC a em{ 
	 padding-right:10px; font-style:normal; font-size:12px; font-weight:normal; background:url(/images/link_icon.gif) no-repeat right -20px;
}
.nb{display:inline; 
	float:left; 
	width:25px; 
	height:37px;
	margin-right:10px;
	background:url(/images/map_icon.png) no-repeat -28px -91px;
	color:#dc4d3a; 
	font-family:Arial, Helvetica, sans-serif;
}
.MC .nb span{  display:block; width:21px; height:18px; text-align:center; line-height:18px; margin-left:2px; padding-top:3px; *padding-top:0px;}
.MC a{
	margin-top:3px;
	
}
.MC span.icon_e{ 
	margin:0px 0 0 5px;
	display:block;
	
}
.MC span.icon_e a{ 
	margin-top:0px;
	
}

.mapinfo-tips{ margin-left:-1000px; color:#9a9a9a;}
.mapinfo-tips span b{ margin-right:4px;}
.mapinfo-tips .sms-jiucuo b{ width:12px; height:11px; background-position:-32px -21px;}
.user-show-ctrl{ margin-right:10px;}
.user-show-ctrl span{ display:inline-block; margin-right:10px;}
.user-show-ctrl span b, .user-show-ctrl span .jiucuo-link{ display:inline-block; background:url(/images/map_icon.png) no-repeat; cursor:pointer;}
.user-show-ctrl .sms-fav b{ width:14px; height:12px; background-position:0 -20px;}
.user-show-ctrl .sms-share b{ width:8px; height:11px; background-position:-19px -20px;}
.user-show-ctrl .sms-jiucuo .jiucuo-link{ width:12px; height:11px; background-position:-32px -21px;}
.user-show-ctrl .has-collection b{ background-position:0 -38px;}
.li_s .mapinfo-tips{ margin-left:0;}
.li_s .nb{ position:relative; top:-1px; width:27px; height:40px; background-position:0 -91px; color:#0581ff;}
/*-------------  道路搜索  -------------------*/
.DL_a{ 
	color:#2750aa;
	font-weight:bold; 
	font-size:14px;

}
.QD{
	background:#f4f9ff;
	height:66px;
	line-height:66px;
	position:relative;
	padding-top:10px;
}
.qd,.zd,.NandH{ 
	float:left;
}
.qd,.zd{
	margin-top:23px;
}
.qd{
	margin-left:10px;
}
.NandH{
	margin-top:33px;
}
.NandH{
	width:230px; 
	height:2px;
	line-height:2px;
	background:#2750aa;
}



.zh_all{
	position:absolute; 
	top: 10px;
}
.zh_a{
	text-align:center;
	float:left;
	width:80px;
}
.zh_a1{ margin-bottom:10px; background: url(../images/hmline.jpg) repeat-x 0 0; height:20px;  margin-right:10px; margin-bottom:5px;}
.zh_a1 a{ display:block; background:url(../images/MC.jpg) no-repeat 50% 100%; height:20px; color:#fff; line-height:16px; padding:0 4px;}
.zh_a2{ margin-left:14px;background:url(../images/MH.jpg) no-repeat 0 0; width:38px; height:18px; text-align:center;}
.zh_a2 a{ color:#fff; line-height:16px; display: block;}
.zh_as{left:120px;}

/*------------  无搜索结果道路  --------------*/
.ck{ background:#f1f9fd; padding:10px; height:10px;}
.ck_title{ font-weight:bold; margin-bottom:15px;}
.ck1{ margin-right:16px; float:left; background: url(../images/ck1.jpg) no-repeat 0 0; padding-left:28px; height:23px; padding-top:5px;}
.ck1 a{}
/*-------------  搜索结果为地址  ---------------------*/
.s_dz1,.s_dz1a{ background:#f4f9ff; border-bottom: dashed 1px #d4d4d4;  padding:5PX; padding-bottom:10PX; overflow:hidden;}
.s_dz1{ height:60px;}
.PB{ overflow:hidden;}
.PB,.more a{ margin-left:32PX; color:#9e1c04;}
.s_dz2{ padding:10px 0 0 35px;}
.s_dz2 li{ margin-bottom:10px; overflow:hidden;}
.s_dz2 li a{ display:block; float:left; margin-right:5px;}
/*------------  途径公交 -----------*/
.GJ_title,.GJ_C{ float:left;}
.GJ_title{ margin-top:5px; font-weight:bold; margin-left:32px;}
.GJ_C{ margin-left:7px; width:200px; line-height:22px;}
.GJ_C a{ padding-right:3px;}

/*-----------------  热区  -------------------------*/
.PB  a{ display:inline-block; background:#bbd8fa; padding:3px; margin-right:7px; }
.PB span a:hover,.PB span a.current{ color:#9e1c04;}
.span_a{ float:left; display:block; color:#e18b34;}
.zbgj{  padding:10px; background:#f4f9ff; overflow:hidden;}
.zbgj1,.zbgj2{ float:left;}
.zbgj1{ margin-right:10px; margin-top:3px;}
.zbgj2{ line-height:22px; width:200px;}
.s_dz2 span{ display:block; float:left;}
 .dj{ font-weight:bold; color:#a51c01; margin:0 10px;}
.PB2{ overflow:hidden; }
.s_dz{ margin-bottom:10px;}
/*-------------  酒店页面  ------------------*/
.MC span{ display:block; float:left; margin-top:3px;}
.DP{ margin:0 0 10px 32px;}
.nb span{ margin-top:0px;}
/*------------  无搜索结果  -------------*/
.JG_w .title{ background:#e3efff url(../images/icon_2.jpg) no-repeat 20px 10px; border:solid 1px #e4e6f5; padding:10px; padding-left:60px; line-height:20px;}
.JG_w .title span{ font-weight:bold; color:#9e1c04;}

/*-------------------  number  ---------------------*/
.number{ 
	margin-top:25px;
	text-align:center;
	color:#dc4d3a;
	font-weight:bold;
}
.number a{ 
	 margin:0 1px; color:#336688; font-weight:normal;
}
.JG_ul{ margin-top:8px; margin-left:5px; line-height:22px;}