html,body{margin:0;padding:0}
body{font-size:12px; color:#333;text-align:left;}
img{border-width:0px}
form{padding:0;margin:0}
a{color:#369;text-decoration:none;}
a:hover{color:red; text-decoration:underline;}
.HackBox{clear:both;border-top:transparent 0px solid;height:0;overflow:hidden;}
.TagNav1{position:relative;top: 0px;left: 0px;}
.PinIco{
    width:35px; height:34px;
    /*---- IE6 png bug ----*/
    background:url('../Images/PinIco.png') !important;
	background:none;}
.InTagCon1{position:relative;width:201px; height:168px; margin:5px 0 0;}
.InTagConBg1{
    width:201; height:168px;
    /*---- IE6 png bug ----*/
    background:url('../Images/WikiPOI.png') !important;
	background:none;}
.InTagDetCon1{position:absolute; top:0; left:0;width:190px; height:150px; padding:5px 15px 5px 10px;}
.ViewTagDetCon h3{font-size:14px; padding:0; margin:0 0 3px; height:23px; line-height:23px;width:200px;overflow:hidden;-o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap;}
.InTagDetCon1 table{width:170px; font-size:12px;}
.InTagDetCon1 table tr th{ font-weight:normal; width:40px;}
.InTagDetCon1 table tr th,.InTagDetCon1 table tr td{ vertical-align:middle;}
td.Explain{color:#666;}
.InTagDetCon1 h3{color:#618d13;background:url(../Images/POI-coin.gif) left top no-repeat;height:27px;font-size:14px; padding:5px 0 0 30px; margin:0 0 3px;line-height:23px;width:200px;overflow:hidden;-o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap;}
td.Explain span{color: #C30; margin: 0 1px;}

.AutoText{width:270px; height:60px; overflow-x:hidden; overflow-y:auto; line-height:120%;} 

.WkButton{margin-top:6px;text-align:center;}
.SwNav,.SwNavOver,.SwNavOut{position:absolute; top:10px; right:15px; cursor:hand; width:15px; height:15px; overflow:hidden;background:url(../Images/SwitchBtn.gif) no-repeat left top;}
.SwNavOver{background-position:left -20px;}

.ViewTagConMin{position:relative;width:305px; height:36px;text-align:left;font-size:12px;}
.ViewTagConMin .ViewTagConBg{ 
    width:303px;
    height:36px;
    /*---- IE6 png bug ----*/
    background:url('../Images/ShowTagBg.png') !important;
	background:none;}
.ViewTagConMin .ViewTagDetCon{position:absolute; top:0; left:0;width:290px; height:26px; padding:5px 15px 5px 10px;}
.ViewTagConMin .AutoText{ display:none;} 
.ViewTagConMin .ViewTagDetCon p{padding:0;margin:3px 0;line-height:120%;}
.ViewTagConMin .WkButton{display:none;}
.ViewTagConMin .SwNav,.ViewTagConMin .SwNavOver,.ViewTagConMin .SwNavOut{position:absolute; top:10px; right:15px; cursor:hand; width:15px; height:15px; overflow:hidden;background:url(../Images/SwitchBtn.gif) no-repeat right top;}
.ViewTagConMin .SwNavOver{background-position:right -20px;}

.CloseWin1,.CloseBtnOver1,.CloseBtnOut1{position:absolute; top:9px; right:15px; cursor:hand; width:13px; height:13px; overflow:hidden;background:url(../Images/CloseBtn.gif) no-repeat left top;}
.CloseBtnOver1{background-position:left -13px;}

#ShowDiv{
display:block;
width:300px;
height:auto;
border:1px solid #ccc;
border-right:2px solid #888;
border-bottom:2px solid #888;
background-color:#f00;
text-align:center;
padding-top:30px;
}
