<?xml version="1.0" encoding="utf-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<!--黄页缓存时间配置Begin,都是以小时为单位-->

		<add key="YellowTypeListDataCacheTime" value="168"/>
		<add key="CompanInfoCacheTime" value="168"/>
		<add key="OwnerInfoCacheTime" value="168"/>
		
		<add key="HyBdtCacheTime" value="10"/>
		<add key="HyEshopDynamicCacheTime" value="10"/>
		<add key="HyCouponCacheTime" value="10"/>

		<add key="CompanyListTime" value="10"/>
		<add key="HotelCacheTime" value="10"/>
		<add key="JobCacheTime" value="10"/>
		<add key="HouseCacheTime" value="10"/>
		<add key="DisCountCacheTime" value="10"/>
		<add key="EshopDataCacheTime" value="10"/>
		<!--周边公交-->
		<add key="HyBusDataCacheTime" value="10"/>
		<!--周边生活信息-->
		<add key="HyLivingInfoCacheTime"/>
		<!--黄页缓存时间配置End-->

	</appSettings>

</configuration>
