body {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #404040;
	background: #fff;
}
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, button, input, textarea {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
ul, ol {
	list-style-type: none;
}
img, a img, :link img, :visited img {
	border: 0;
	display: block;
}
a {
	color: #404040;
	text-decoration: none;
}
a:hover {
	color: #ff3333;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
	*zoom: 1;
}

.fl {
	display: inline;
	float: left;
}
.fr {
	display: inline;
	float: right;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
.mt20 {
	margin-top: 20px;
}
.pb60 {
	padding-bottom: 60px;
}
.fontb {
	font-weight: bold;
}