<?xml version="1.0" encoding="utf-8"?><configuration>
  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Map.WebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="WebRootPath" value="/"></add>   <!--网站根路径地址-->
    <add key="DataCenterURL" value="http://data.edushi.com/"></add><!--数据中心URL-->
    <add key="PicURL" value="http://Pic2.edushi.com/"></add><!--图片服务器-->
    <add key="EDataCenterURL" value="http://edata.edushi.com/"></add>
  </appSettings>
    <connectionStrings/>
  
    <system.web>
        <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
        <compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
        <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
        <authentication mode="Windows"/>
        <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<!--<httpHandlers>
        <add verb="*" path="*.html" type="Map.BLL.MapHttpHandler, Map.BLL"/>
      </httpHandlers>-->
	<httpModules>
		<add type="Map.BLL.MapHttpHandler, Map.BLL" name="MapHttpHandler"/>
	</httpModules>
      <customErrors mode="Off">
      </customErrors>
    </system.web>
    <applicationSettings>
        <Map.WebApp.Properties.Settings>
            <setting name="Map_WebApp_com_edushi_soa_Service1" serializeAs="String">
                <value>http://soa.edushi.com/uploadimg/service1.asmx</value>
            </setting>
            <setting name="Map_WebApp_com_edushi_wse_UploadService" serializeAs="String">
                <value>http://wse.edushi.com/UploadService.asmx</value>
            </setting>
        </Map.WebApp.Properties.Settings>
    </applicationSettings>
</configuration>