<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="CustomCache" type="Edushi.CacheConfigSection.CacheConfigHandler, Edushi.CacheConfigSection" />
  </configSections>
  <CustomCache>
    <Caches>
      <!--反射对象缓存（24小时），{0}表示命名空间.类名，单位秒-->
      <addCache cacheID="ReflectCache" cacheKey="{0}" cacheTime="86400" />
      <!--资讯所有分类（7天），单位秒-->
      <addCache cacheID="AllZxTypeCache" cacheKey="Edushi_Tu2_AllZxType_PC" cacheTime="604800" />
      <!--专题所有分类（7天），单位秒-->
      <addCache cacheID="AllZtTypeCache" cacheKey="Edushi_Tu2_AllZtType_PC" cacheTime="604800" />
      <!--图闻所有分类（7天），单位秒-->
      <addCache cacheID="AllPicTypeCache" cacheKey="Edushi_Tu2_AllPicType_PC" cacheTime="604800" />
      <!--顶部导航，单位秒-->
      <addCache cacheID="TopDaoHangIndexCache" cacheKey="Edushi_Tu2_TopDH_Index_PC" cacheTime="86400" />
      <!--图闻列表推荐数据,{0}表示频道ID，首页默认0，单位秒-->
      <addCache cacheID="RecPicCache" cacheKey="Edushi_Tu2_Recommend_{0}_PC" cacheTime="7200" />
      <!--详细页文章详细，{0}表示文章ID，单位秒-->
      <addCache cacheID="PicDetailCache" cacheKey="Edushi_Tu2_article_detail_{0}_PC" cacheTime="7200" />
      <!--详细页文章图片，{0}表示文章ID，单位秒-->
      <addCache cacheID="ImgListCache" cacheKey="Edushi_Tu2_image_detail_{0}_PC" cacheTime="7200" />
      <!--详细页图闻频道排行，{0}表示父分类ID，单位秒-->
      <addCache cacheID="DetailPicRecoCache" cacheKey="Edushi_Tu2_order_detail_{0}_PC" cacheTime="7200" />
      <!--详细页专题推荐，{0}表示专题父分类ID，单位秒-->
      <addCache cacheID="TopicRecoCache" cacheKey="Edushi_Tu2_topicrecommend_detail_{0}_PC" cacheTime="7200" />
      <!--用户信息(Hashtable)，{0}表示用户ID或昵称,{1}表示是否需要文章数,单位秒-->
      <addCache cacheID="UserInfoHashCache" cacheKey="Edushi_Tu2_userHash_{0}_{1}_PC" cacheTime="7200" />
      <!--详细页分享，{0}表示图闻ID-->
      <addCache cacheID="DetailShareCache" cacheKey="Edushi_Tu2_Detail_Share_{0}_PC" cacheTime="7200" />

    </Caches>
  </CustomCache>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="sectionName" value="CustomCache"/>
    <!--数据访问层-->
    <add key="DAL" value="Edushi.Tu.MongoDBDAL"/>
    
    <!--创建反射对象时是否需要缓存，1：需要，0：不需要-->
    <add key="CreateObjectCacheFlag" value="1"/>
    
    <!--sql server连接字符串-->
    <add key="Connstring" value="Data Source=61.153.104.233,2433; Database=edushi_zixun;User ID=sasa;Password=UH876Gyti%^90^tU;" />
    <!--服务器连接池（生活帮）192.168.100.196-->
    <add key="MongodbConnection_Bang" value="222.73.207.92:10008" />
    <!--服务器连接池（生活帮写入）192.168.100.196-->
    <add key="MongodbConnection_Write" value="mongodb://61.153.104.233:10008/?safe=true" />
    <!--数据库名称（生活帮）-->
    <add key="DataBaseName_Bang" value="edushi_zixun"/>
    <!--副本集名称-->
    <add key="ReplicaSetName" value="edushi"/>
    <!--超时时间，单位秒-->
    <add key="ConnectTimeout" value="3"/>

    <!--CDN图片地址-->
    <add key="CdnPicUrl" value="http://npic7.edushi.com/"/>
    
    <!--用户头像路径-->
    <add key="domain_User" value="http://apps.edushi.com/avatar" />
    <!--Cookie名称-->
    <add key="CookieName" value="edushiUserId" />
    <!--加密和解密的Key-->
    <add key="DEncryptKey" value="edushi_UserCenter2.0" />

    <!--列表推荐数量-->
    <add key="recPicCount" value="225" />
    <!--列表页容量-->
    <add key="recPageSize" value="9" />
    <!--微博分享用户App Key-->
    <add key="WeiBoShareAppid" value="2088369023" />
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <caching>
      <outputCache />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="IndexCache" varyByParam="none" location="Downstream" varyByCustom="none" duration="300" />
          <add name="ChannelIndexCache" varyByParam="none" location="Downstream" varyByCustom="none" duration="300" />
          <add name="DetailCache" varyByParam="none" location="Downstream" varyByCustom="none" duration="300" />
          <!--<add name="InforOutCache" varyByParam="none" location="Client" varyByCustom="none" duration="0" />
          <add name="MapOutCache" varyByParam="none" location="Client" varyByCustom="none" duration="0" />
          <add name="SearchOutCache" varyByParam="none" location="Client" varyByCustom="none" duration="0" />
          <add name="WindowOutCache" varyByParam="none" location="Client" varyByCustom="none" duration="0" />
          <add name="AskOutCache" varyByParam="none" location="Client" varyByCustom="none" duration="0" />
          <add name="UserListCache" varyByParam="none" location="Client" varyByCustom="none" duration="0" />-->
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--日志-->
  <log4net>
    <logger name="loginfo">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\LogFiles\Tu_2\PC\" />
      <!-- 输出到什么目录-->
      <param name="AppendToFile" value="true" />
      <!-- 是否覆写到文件中-->
      <param name="MaxSizeRollBackups" value="100" />
      <!-- 备份文件的个数-->
      <param name="MaximumFileSize" value="10MB" />
      <!-- 单个日志文件最大的大小-->
      <param name="StaticLogFileName" value="false" />
      <!-- 是否使用静态文件名true-->
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <!-- 日志文件名-->
      <param name="RollingStyle" value="Date" />
      <!--Size-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t]%-5p %d [%c] %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
