@import url(Common.css);
body{font-family:"宋体"}
.PopNav{position:relative;}
.ThemeMapNav,.eStoreNav,.CorpNav,.ArchitNav{position:relative;width:352px; height:210px;text-align:left;}
.PopContent{position:absolute; top:0; left:0;width:280px; height:205px; padding:2px 15px 3px 57px;}
.CloseWin,.CloseBtnOver,.CloseBtnOut{position:absolute; top:6px; right:12px; cursor:hand; width:13px; height:13px; overflow:hidden;background:url(../Images/CloseBtn.gif) no-repeat left top;}
.CloseBtnOver{background-position:left -13px;}

.ThemeMap,.eStore,.Corp,.Archit{width:352px; height:210px;}
.ThemeMap{
    /*---- IE6 png bug ----*/
    background:url('../Images/ThemeMap.png') !important;
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ThemeMap.png',sizingMethod='image') !important;
}
.eStore{
    /*---- IE6 png bug ----*/
    background:url('../Images/eStoreBg.png') !important;
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/eStoreBg.png',sizingMethod='image') !important;
	}
.Corp{
    /*---- IE6 png bug ----*/
    background:url('../Images/CorpBg.png') !important;
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/CorpBg.png',sizingMethod='image') !important;
	}
    
.Archit{
    /*---- IE6 png bug ----*/
    background:url('../Images/ArchitBg.png') !important;
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../Images/ArchitBg.png',sizingMethod='image') !important;
	}
.PopContent .TextBox{width:280px; height:170px; overflow:auto;
                     scrollbar-face-color: #DBEBFE; /*滚动条凸出部分的颜色*/
                     scrollbar-shadow-color: #B8D6FA; /*滚动条空白部分的颜色*/
                     scrollbar-highlight-color: #FFFFFF; /*立体滚动条阴影的颜色*/
                     scrollbar-3dlight-color: #DBEBFE; /*滚动条亮边的颜色*/
                     scrollbar-darkshadow-color:#458CE4; /*上下按钮上三角箭头的颜色*/
                     scrollbar-track-color: #FFFFFF; /*滚动条的背景颜色*/
                     scrollbar-arrow-color: #458CE4;/*滚动条强阴影的颜色*/ 
                     }
.PopContent h3{font-size:14px; padding:0; margin:0 0 3px; width:280px; height:23px; overflow:hidden;-o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap; line-height:23px;}
.LeftNav{float:left; width:90px; background-color:White; border:1px solid #CCC; padding:2px;}
.StorePho{width:90px;height:60px;overflow:hidden;}
.StorePho img{width:90px;}

.RgtNav{float:right; width:180px;}
.RgtNav p{padding:0; margin:0; width:180px; height:21px; line-height:21px; overflow:hidden;-o-text-overflow:ellipsis; text-overflow:ellipsis; white-space:nowrap;}
span.PutRight{margin:0px 5px 0px 10px;float:right;}

.RowNav{padding:2px 0 0; clear:both;}
.RowNav ul{padding:8px 0 0; margin:0; list-style-type:none;}
.RowNav ul li{float:left; margin:0 6px 0 0;}
.RowNav ul li img,span.ToFriInput img{cursor:pointer;}
span.ToFriInput{float:left; margin-right:1px;}