@{
    ViewBag.Title = "未找到页生活帮—E都市";
}

@*@section meta{
    
}*@
<link rel="stylesheet" type="text/css" href="@Url.Content("~/asset/css/error.css")">
@*@{Html.RenderAction("ChannelHeader", "Shared");}*@
<div class="error">
    <div class="bg"></div>
    <div>sorry</div>
    <span>页面报错啦！</span>
    <span>你访问的页面已经离开地球</span>
    <a href="/" class="backhome">返回E都市首页</a>
</div>

