@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="applicable-device" content="mobile" />
    <title>错误页-E都市</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    
    <script>
        document.documentElement.style.fontSize = 100 * ((document.documentElement.clientWidth) / 750) + "px";
        window.onresize = window.onorientationchange = function () {
            document.documentElement.style.fontSize = 100 * ((document.documentElement.clientWidth) / 750) + "px";
        }
    </script>
    <link rel="stylesheet" href="http://res.edushi.com/www/touch/v7/asset/css/error_7.0.css">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?99a36e54478482e04c158ab069a3e598";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <header>
        <a onclick="javascript:history.go(-1);" class="back"></a>
        <section class="error-box">
            <div class="error-img"></div>
            <div class="error-tip">页面报错啦！<br>你访问的页面已经离开地球</div>
            <a href="http://m.edushi.com/" class="back-home">返回E都市首页</a>
        </section>
    </header>
</body>
</html>
