@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <title>汽车频道</title>
    <link rel="stylesheet" href="/car/asset/css/car.css" />
    <script type="text/javascript">
        document.documentElement.style.fontSize = 100 * ((document.documentElement.clientWidth) / 720) + "px";
    </script>
    <script type="text/javascript" src="/car/asset/js/jquery-1.8.3.min.js"></script>
</head>
<body>
    <div class="top clearfix ovhidden">
        <a href="http://m.edushi.com/" class="logo"></a>
        <span class="fr">
            <a class="top-btn" href="http://apps.edushi.com/news/app.html">
                <i class="top-app-icon"></i>
                <span>下载</span>
            </a>
        </span>
    </div>
    <header>
        <nav>
            <div class="main-nav">
                <div class="wrap">
                    <a href="http://m.edushi.com/">要闻</a>
                    <a href="http://m.edushi.com/zixun/info/t/2.html">头条</a>
                    <a href="http://m.edushi.com/zixun/info/t/4.html">娱乐</a>
                    <a href="http://m.edushi.com/shipin/">视频</a>
                    <a href="http://m.edushi.com/zixun/info/t/119.html">奇乐</a>
                    <a href="http://m.edushi.com/zixun/info/t/113.html">前瞻</a>
                    <a href="http://m.edushi.com/zixun/info/t/1.html">集萃</a>
                    <a href="http://m.edushi.com/zixun/info/t/104.html">旅游</a>
                    <a href="http://m.edushi.com/zixun/info/t/215.html">教育</a>
                    <a href="http://m.edushi.com/zixun/info/t/149.html">历史</a>
                    <a href="http://m.edushi.com/zixun/info/t/142.html">养生</a>
                    <a href="http://m.edushi.com/zixun/info/t/3.html">休闲</a>
                    <a href="http://m.edushi.com/zixun/info/t/6.html">婚嫁</a>
                    <a href="http://m.edushi.com/zixun/info/t/19.html">母婴</a>
                    <a href="http://m.edushi.com/zixun/info/t/161.html">游戏</a>
                    <a href="http://m.edushi.com/zixun/info/t/27.html">生活</a>
                    <a href="http://hz.edushi.com/bdt/3g/city.shtml">包打听</a>
                    <a href="http://m.edushi.com/zt/">专题</a>
                    <a href="http://m.edushi.com/lvyou/">旅游</a>
                    <a href="http://m.tu.edushi.com/">图闻</a>
                    <a href="http://m.edushi.com/zixun/info/t/car.html" class="on">汽车</a>
                </div>
                <a href="javascript:void(0)" class="nav-btn"></a>
            </div>
            <div class="more-nav">
            </div>
        </nav>
    </header>

    <div class="content-main">
        <!-- 接入站点：E都市(edushi.com) 接入频道：汽车频道(ID: 1007) -->
        <script type="text/javascript">
            (function () {
                var s = "_" + Math.random().toString(36).slice(2);
                document.write('<div id="' + s + '"></div>');
                (window.slotbycpu = window.slotbycpu || []).push({
                    siteId: '1248123',
                    channelId: '1007',
                    container: s,
                    display: 'auto',
                    height: '100px'
                });
            })();
        </script>
        <script src="http://cpu.baidu.com/js/ci.js"></script>

        <footer>
            <div class="download-box">
                <i class="edushi-icon"></i>
                <div class="other">
                    <i class="footer_text"></i>
                    <a href="http://apps.edushi.com/news/app.html" class="download-btn">客户端下载</a>
                </div>
            </div>
            <hr>
            <p>浙B2-20050306&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010502000262" style="color:#999">浙公网安备 33010502000262号</a></p>
        </footer>

        <script type="text/javascript" src="http://m.edushi.com/car/asset/js/common.js"></script>
</body>
</html>
