*{margin:0;padding:0;font:14px 'Microsoft Yahei','Simsun',Arial;color:#252525;line-height:1.9em; list-style:none;}
body{-webkit-text-size-adjust:none}
a{ text-decoration:none;}
.clear{ clear:both;}
.tyl{ color:#f60;}
.tgral{ color:#999;}
img{border:none;}
#imgshow img {max-width:100%;}
input,textarea{outline:0}
input[type="text"],input[type="password"],input[type="phone"]{background:#fff; border:1px solid #ddd;}
.Thead{ background:#f60;height:36px; padding:5px 10px;}
#logo{ float:left;}
#city{ background:#fff; width:60px; margin:5px 0 0 15px;cursor:pointer; height:30px; overflow:hidden; float:left;-webkit-border-radius:4px;white-space:nowrap; overflow:hidden;}
#city a{ display:block; color:#333;padding:2px 10px; height:26px; width:40px;}
#city span{ margin-top:10px; float:right; border-color:#f60 transparent transparent transparent;border-style: solid dashed dashed dashed;border-width:4px; font-size:0;height:0;line-height:0; width:0; display:block}
#topmenu{ float:right; padding-top:6px;}
#topmenu a{ margin-left:10px; width:24px; height:24px;}
.searchbox{ background:#eee; height:30px; padding:5px;}
.searchbox a,.searchbox input{-webkit-border-radius:4px; border:1px solid #ddd;}
.searchbox .cl{width:20%; height:30px; float:left;  border:1px solid #ddd;}
.searchbox input{ height:28px; float:left; margin-left:5px; width:55%; padding:0 4px}
.searchbox span{ margin:12px 8px 0 0; float:right; border-color:#999 transparent transparent transparent;border-style: solid dashed dashed dashed;border-width:4px; font-size:0;height:0;line-height:0; width:0; display:block; overflow:hidden;}
.searchbox a.btn{ display:block; width:15%; height:28px; float:left; margin-left:5px; text-align:center;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e4e4e4));
}
.contain{ width:100%; margin-top:1px;}
.list{}
.list dt{border-top:1px solid #ccc; font-size:16px; padding-top:1px;}
.list dt div{background:#efefef;}
.list dt.on{border-top:1px solid #f60;}
.list dt a {display:block;padding:0 10px;  height:2em;}
.list dt.on span{-webkit-transform:rotate(135deg);}
.list dt span{ margin-top:10px; float:right; display:block; width:6px; height:6px; border-top:1px solid #999; border-right:1px solid #999;-webkit-transform:rotate(45deg);}
.list dd{ background:#fafafa;}
.list dd ul.lei{ padding:5px;}
.list dd ul.lei li{ width:50%; float:left;}
.list dd ul.lei li a{display:block; background:#efefef; margin:5px; color:#36f; padding:0 10px; line-height:2em ; height:2em;text-wrap:none;overflow:hidden;}
.footer{ border-top:1px solid #ccc; background:#f4f4f4; text-align:center; padding:10px 0;}

.breadCrumb{ border-top:1px solid #ccc; background:#dfeeff; line-height:2em; padding:2px 10px;}
.list ul.info{ padding:5px 10px; border-bottom:1px dashed #ddd;}
.list ul.noline{ border:none}
.list ul.info a{ display:block; clear:both;}
.list ul.info li{float:left;white-space:nowrap; overflow:hidden;}
.list ul.info li.nm{ width:80%; color:#36f;}
.list ul.info li.data{ width:20%; color:#999; font-size:12px; text-align:right}
.list ul.info li.wz{ width:80%; color:#999; font-size:12px;}
.list ul.info li.prc{ width:20%; text-align:right; color:#f30; font-weight:bold;}
.list ul.info li a{color:#36f;}
.list dt .more{float:right; color:#999; font-size:12px;}
.list dt .screen{ padding:5px 10px;}
.list dt .screen select{ float:left; background:#fff; margin-right:10px;line-height:1.6em;height:1.8em; text-align:center; width:20%; border:1px solid #fff;}
.list dt .screen .btn{ float:right;background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee)); -webkit-border-radius:4px; border:1px solid #ddd; width:20%;text-align:center; line-height:1.6em;height:1.8em;}
.list dd .page{ text-align:center; margin:10px;}
.list dd .page a{-webkit-border-radius:4px; background:#f60; color:#fff; display:inline-block; padding:2px 10px;}
.list dd .page span{ display:inline-block;padding:2px 10px;}
.infobox{ border-top:1px solid #ccc;}
.infobox dt{ border-bottom:2px solid #f60; text-align:center; padding:10px}
.infobox dt h1{ font-size:16px; width:100%;}
.infobox dt p{ color:#999;}
.infobox .infol{ padding:10px;}
.infobox .infom li{ padding:5px 10px 0 10px; }
.infobox .infom .tt{ border-top:1px solid #ccc;font-weight:bold;}
.infobox .infom .seeimg{ background:#efefef; width:50%; margin:0 auto; display:block; text-align:center; color:#36f}
.infobox .else{ margin-top:10px;}
.infobox .else .tt{ border-top:1px solid #f60; background:#f7f7f7; padding:0 10px; margin-bottom:5px}

.fbcon strong{ color:#f00}
.fbcon .btn{-webkit-border-radius:4px; width:10em; padding:4px 10px; text-align:center; background:#f90; color:#fff;}
.citylist{}
.citylist dt{border-top:1px solid #f60; font-size:16px; padding-top:1px;background:#efefef; padding:0 10px;}
.citylist dd ul li.t{ font-weight:bold; padding:5px 10px; background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee)); border-bottom:1px solid #ddd;}
.citylist dd ul li.t .on{-webkit-transform:rotate(-45deg);}
.citylist dd ul li.t span{ margin-top:10px; float:right; display:block; width:6px; height:6px; border-top:1px solid #f60; border-right:1px solid #f60;-webkit-transform:rotate(135deg);}
.citylist dd ul{ border-top:1px solid #ddd; padding-bottom:10px}
.citylist dd ul li.b a{ padding:2px 10px; display:block; border-bottom:1px solid #ddd;}

.hotcity dt{border-top:1px solid #f60; padding-top:1px;background:#efefef; padding:0 10px; font-size:16px;}
.hotcity dd{-webkit-column-count:3;-webkit-column-gap:10px;column-count:3;column-gap:10px; padding-bottom:10px;}
.hotcity dd a{ display:block; text-align:center; background:#f4f4f4; margin-top:10px; line-height:2em}