.urhere {
	margin: 30px 0 26px 0;
	line-height: 30px;
	color: #000;
}
.urhere a {
	position: relative;
	margin-right: 22px;
	color: #888;
}
.urhere a:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 5px;
	right: -50%;
	width: 5px;
	height: 9px;
	background: url(../images/eds_sprite.png) no-repeat -34px -281px;
}
.main-body {
	width: 840px;
}
.slide-cnt {
	width: 300px;
}
.main-body h1 {
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
}
.time-source {
	margin-top: 20px;
	font-size: 12px;
	color: #888;
}
.time-source .report {
	color: #888;
}
.time-source .report:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 12px;
	margin-right: 3px;
	background: url(../images/eds_sprite.png) no-repeat -42px -281px;
}
.main-text-cnt {
	position: relative;
	width: 660px;
	margin: 40px 0 60px 180px;
}
.main-text-cnt .main-text {
	padding-top: 30px;
	border-top: 1px solid #dddddd;
	font-size: 18px;
	line-height: 34px;
}
.main-text-cnt .main-text p {
	margin-bottom: 22px;
}
.main-text-cnt .main-text img {
	width: auto;
	max-width: 660px;
	margin: 0 auto;
}
.main-text-cnt .main-text p.t {
	position: relative;
	margin-bottom: 0;
}
.main-text-cnt .main-text p.t img {
	width: 172px;
    height: 98px;
    float: left;
    margin: 0 16px 0 0;
}
.main-text-cnt .main-text p.t.z:before {
	content: "";
    display: block;
    width: 30px;
    height: 13px;
    background: url(../images/eds_sprite.png) no-repeat 0 -281px;
    position: absolute;
    top: 0;
    left: 142px;
}
.main-text-cnt .main-text p.t:after {
	content: "";
	clear: both;
}
.main-text-cnt .main-text p.t span {
	display: block;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    overflow: hidden;
}
.main-text-cnt .main-text p.i{
	position: relative;
	max-height: 72px;
	margin-top: 6px;
	margin-bottom: 40px;
    font-size: 14px;
    line-height: 22px;
    color: #888;
    text-indent: 2em;
    overflow: hidden;
}
.main-text-cnt .main-text div.i {
	position: relative;
}
.main-text-cnt .main-text div.i:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 100%;
	border-bottom: 1px solid #eeeeee;
}
.main-text-cnt .main-text div.i:last-child:after {
	display: none;
}
.main-text-cnt .main-text div.i:last-child p {
	margin-bottom: 0;
}
.comment-box {
	position: relative;
	width: 840px;
	padding-top: 40px;
	border-top: 4px solid #404040;
}
.comment-box .tie-cnt {
	width: 660px;
	margin-left: 180px;
}
.comment-box .tie-cnt .tie-area {
	height: 78px;
	border: 1px solid #1d87e4;
	border-radius: 3px;
}
.comment-box .tie-cnt .tie-area .comments-area {
	float: left;
	width: 537px;
	height: 58px;
	margin: 10px;
	border: none;
	outline: none;
}
.comment-box .tie-cnt .tie-area .publist-btn {
	position: relative;
	float: right;
	width: 101px;
}
.comment-box .tie-cnt .tie-area .publist-btn input {
	width: 101px;
	height: 78px;
	background: #1d87e4;
	border: none;
	outline: none;
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #fff;
	line-height: 120px;
	cursor: pointer;
}
.comment-box .tie-cnt .tie-area .publist-btn:before {
	content: "";
	display: block;
	width: 25px;
	height: 25px;
	background: url(../images/eds_sprite.png) no-repeat -57px -298px;
	position: absolute;
	left: 40px;
	top: 16px;
}
.comment-box .tie-cnt .tips {
	font-size: 12px;
	color: #aeaeae;
	line-height: 33px;
}
.comment-box .tie-cnt .tie-hot {
	margin-top: 20px;
}
.comment-box .tie-cnt .tie-list {
	position: relative;
	padding: 20px 15px;
	margin-bottom: 11px;
	background: #f6f6f6;
	border-radius: 5px;
}
.comment-box .tie-cnt .tie-list .photo {
	width: 35px;
	margin-right: 15px;
}
.comment-box .tie-cnt .tie-list .photo img {
	width: 35px;
	height: 35px;
	border-radius: 100%;
}
.comment-box .tie-cnt .tie-list .tieba {
	width: 580px;
}
.comment-box .tie-cnt .tie-list .author a {
	font-size: 12px;
	color: #008cd2;
}
.comment-box .tie-cnt .tie-list .author .time {
	float: right;
	font-size: 12px;
	font-family: arial;
	color: #888888;
}
.comment-box .tie-cnt .tie-list .comment {
	margin: 15px 0 20px;
	line-height: 24px;
	word-wrap: break-word;
}
.comment-box .tie-cnt .tie-list .tool {
	float: right;
	border: 1px solid #bbbbbb;
	font-size: 0;
	text-align: right;
	border-radius: 2px;
}
.comment-box .tie-cnt .tie-list .tool span {
	display: inline-block;
	height: 26px;
	padding: 0 10px;
	border-right: 1px solid #bbbbbb;
	font-size: 12px;
	line-height: 26px;
	background: #fff;
}
.comment-box .tie-cnt .tie-list .tool span a {
	color: #888888;
}
.comment-box .tie-cnt .tie-list .tool span a.ding {
	color: #ff3333;
}
.comment-box .tie-cnt .tie-list .tool span a.cai {
	color: #008cd2;
}
.comment-box .tie-cnt .tie-list .tool span:last-child {
	border-right: none;
}
.comment-box .tie-cnt .tie-list .hot-icon {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	width: 27px;
	height: 27px;
	background: url(../images/eds_sprite.png) no-repeat -57px -397px;
}
.comment-box .tie-cnt .more {
	display: block;
	height: 58px;
	margin-top: 20px;
	border: 1px solid #ededed;
	border-radius: 5px;
	font-size: 20px;
	text-align: center;
	line-height: 58px;	
}
.comment-box .tie-cnt .more:before {
	content: "";
	display: inline-block;
	width: 19px;
	height: 19px;
	margin-right: 13px;
	background: url(../images/eds_sprite.png) no-repeat -66px 0;
	vertical-align: -3px;
	-webkit-transition:transform .3s;
	-o-transition:transform .3s;
	transition:transform .3s;
}
.comment-box .tie-cnt .more:hover {
	border-color: #1d87e4;
	color: #1d87e4;
}
.comment-box .tie-cnt .more:hover:before {
	background-position: -66px -60px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.tit-nav {
	margin-bottom: 5px;
	border-top: 1px solid #dddddd;
}
.tit-nav a {
	position: relative;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	line-height: 36px;
}
.tit-nav a:before {
	content: "";
	position: absolute;
	top: -1px;
	width: 100%;
	border-top: 1px solid #ff3333;
}
.zt-list ul {
	margin-right: -10px;
}
.zt-list li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.zt-list li a {
	color: #666;
}
.zt-list li a:hover {
	color: #ff3333;
}
.zt-list li a:before {
	content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    background: #dddddd;
    vertical-align: middle;
}
.zt-list li.img {
	position: relative;
	float: left;
	width: 145px;
	height: 131px;
	margin-right: 10px;
	margin-bottom: 6px;
	border-bottom: 1px solid #eeeeee;
}
.zt-list li.img .photo {
	width: 145px;
	height: 80px;
	overflow: hidden;
}
.zt-list li.img img {
	width: 145px;
	height: 80px;
}
.zt-list li.img p {
	height: 32px;
	margin-top: 7px;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}
.zt-list li.img:before {
	content: "";
    display: block;
    width: 30px;
    height: 13px;
    background: url(../images/eds_sprite.png) no-repeat 0 -281px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.zt-list li.img a:before {
	display: none;
}
.zt-list li:nth-child(5) {
	margin-bottom: 12px;
}
.tu-list ul {
	margin-right: -8px;
}
.tu-list ul li {
	position: relative;
	float: left;
	margin-top: 8px;
	margin-right: 8px;
	width: 146px;
}
.tu-list ul li a {
	display: block;
	width: 146px;
	height: 80px;
	overflow: hidden;
}
.tu-list ul li img {
	width: 146px;
	height: 80px;
}
.tu-list ul li span {
	position: absolute;
	bottom: 0;
	z-index: 2;
	display: block;
	width: 138px;
	padding: 0 4px;
	height: 18px;
	font-size: 12px;
	color: #fff;
	line-height: 18px;
	overflow: hidden;
	background: rgba(0,0,0,.6);
}
.tu-list ul li.big {
	width: 300px;
	margin-top: 0;
}
.tu-list ul li.big a {
	width: 300px;
	height: 165px;
}
.tu-list ul li.big img {
	width: 300px;
	height: 165px;
}
.tu-list ul li.big span {
	width: 270px;
	height: 38px;
	padding: 0 15px;
	font-size: 16px;
	line-height: 38px;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.recommend-news li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.recommend-news li span:before {
	content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    margin-right: 8px;
    background: #dddddd;
    vertical-align: middle;
}
.recommend-news li.img {
	position: relative;
	height: 165px;
	margin-bottom: 12px;
}
.recommend-news li.img a {
	display: block;
	width: 300px;
	height: 165px;
	overflow: hidden;
}
.recommend-news li.img img {
	width: 300px;
	height: 165px;
}
.recommend-news li.img span {
	position: absolute;
	bottom: 0;
	z-index: 2;
	display: block;
	height: 38px;
	width: 270px;
	padding: 0 15px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 38px;
	overflow: hidden;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.recommend-news li.img span:before {
	display: none;
}
.recommend-news li:nth-child(6) {
	margin-bottom: 12px;
}
.share-box {
	position: absolute;
	left: -180px;
	width: 120px;
}
.share-box li {
	line-height: 52px;
	border-bottom: 1px solid #e5e5e5;
}
.share-box li a {
	display: block;
	color: #888;
	white-space: nowrap;
}
.share-box li a:hover {
	color: #404040;
}
.share-box li i {
	float: left;
	display: inline-block;
	width: 40px;
	height: 28px;
	margin-top: 12px;
	margin-right: 12px;
	background: url(../images/share_icon.png) no-repeat;
}
.share-box .tie {
	font-size: 20px;
	font-family: arial;
	color: #ff3333;
}
.share-box .tie:hover {
	color: #ff3333;
}
.share-box .tie i {	
	width: 25px;
	height: 25px;
	margin-right: 5px;
	background: url(../images/eds_sprite.png) no-repeat -29px -298px;
}
.share-box .weixin i {
	background-position: 0 0;
}
.share-box .qzone i {
	background-position: 0 -29px;
}
.share-box .weibo i {
	background-position: 0 -58px;
}
.share-box .qq i {
	background-position: 0 -87px;
}
.share-box li:last-child {
	border-bottom: none;
}
.comment-toolbar {
	position: absolute;
	left: 0;
	top: 40px;
	width: 120px;
	height: 220px;
	border-right: 1px solid #ededed;
}
.comment-toolbar .comment-logo {
	width: 50px;
	height: 22px;
	margin-bottom: 34px;
	background: url(../images/eds_sprite.png) no-repeat 0 -372px;
}
.comment-toolbar .count {
	margin-bottom: 24px;
}
.comment-toolbar .count span, .comment-toolbar .join-count span {
	font-size: 20px;
	font-family: arial;
	color: #e4262b;
}
.comment-toolbar .fatie {
	display: block;
	width: 80px;
	height: 80px;
	margin-top: 20px;
	background: #1d87e4;
	color: #fff;
	text-align: center;
	border-radius: 100%;
}
.comment-toolbar .fatie:before {
	content: "";
	display: block;
    width: 25px;
    height: 25px;
    margin: 0 auto 20px;
    position: relative;
    top: 17px;
    background: url(../images/eds_sprite.png) no-repeat -57px -298px;
}
.share-box.fixed {
	position: fixed;
	left: 50%;
	top: 53px;
	margin-left: -600px;
}
.share-box.abs {
	bottom: 20px;
}
.comment-toolbar.fixed {
	position: fixed;
	left: 50%;
	top: 53px;
	margin-left: -600px;
}
.zt-list li img, .tu-list li img, .recommend-news li img {
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-ms-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}
.zt-list li img:hover, .tu-list li img:hover, .recommend-news li img:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}