<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="CustomRenWuCache" type="Edushi.RenWu.CacheConfigSection.CacheConfigHandler, Edushi.RenWu.CacheConfigSection" />
  </configSections>
  <CustomRenWuCache>
    <Caches>
      <!--反射对象缓存（24小时），{0}表示命名空间.类名，单位秒-->
      <addCache cacheID="reflection" cacheKey="{0}" cacheTime="86400" />
      <!--人物所有分类（7天），单位秒-->
      <addCache cacheID="allRwType" cacheKey="edushi_renwu_infotype_pc_all" cacheTime="604800" />
      <!--资讯所有分类（7天），单位秒-->
      <addCache cacheID="allZxType" cacheKey="edushi_zixun_infotype_pc_all" cacheTime="604800" />

      <!--人物首页轮播图数据，{0}表示分类ID，{1}表示数量，单位秒-->
      <addCache cacheID="toprwIndex" cacheKey="edushi_renwu_index_{0}_{1}_pc_toprw" cacheTime="300" />
      <!--人物首页推荐数据，{0}表示分类ID，{1}表示数量，单位秒-->
      <addCache cacheID="recIndex" cacheKey="edushi_renwu_index_{0}_{1}_pc_rec" cacheTime="300" />
      <!--人物首页各频道推荐数据，{0}表示数量，单位秒-->
      <addCache cacheID="channelrecIndex" cacheKey="edushi_renwu_index_{0}_pc_channel_rec" cacheTime="300" />
      <!--频道分页数据，{0}表示分类ID，{1}表示页码，单位秒-->
      <!--<addCache cacheID="pageDataChannel" cacheKey="edushi_renwu_channel_{0}_{1}_pc_pageData" cacheTime="300" />
      -->
      <!--人物详细信息，{0}表示人物ID，单位秒-->
      <addCache cacheID="renwuDetail" cacheKey="edushi_renwu_detail_{0}_pc_info" cacheTime="300" />
      <!--人物排行榜，{0}表示分类ID，{1}表示数量，单位秒-->
      <addCache cacheID="renwuTopTenDetail" cacheKey="edushi_renwu_detail_{0}_{1}_pc_TopTen" cacheTime="300" />
      <!--人物相关新闻，{0}表示人物编号ID，单位秒-->
      <addCache cacheID="renwuNewsDetail" cacheKey="edushi_renwu_detail_{0}_pc_news" cacheTime="3600" />
      <!--人物顶部导航，单位秒-->
      <addCache cacheID="renwuTopDaoHangIndex" cacheKey="edushi_renwu_TopDaoHangIndex_pc" cacheTime="3600" />
      <!--人物热门排行，{0}表示频道ID，{1}表示数量，单位秒-->
      <addCache cacheID="renwuHotRanking" cacheKey="renwu_search_{0}_{1}_pc_hotrank" cacheTime="3600"/>
      
    </Caches>
  </CustomRenWuCache>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--sql server连接字符串-->
    <add key="Connstring" value="Data Source=61.153.104.233,2433; Database=edushi_zixun;User ID=sasa;Password=UH876Gyti%^90^tU;" />

    <!--资讯生活帮站域名-->
    <add key="domain_bang" value="http://www.edushi.com/zixun/" />
    <!--资讯站域名-->
    <add key="domain_zixun" value="http://www.edushi.com/" />

    <add key="sectionName" value="CustomRenWuCache" />
    <!--数据访问层-->
    <add key="DAL" value="Edushi.RenWu.MongoDBDAL" />
    <!--创建反射对象时是否需要缓存，1：需要，0：不需要-->
    <add key="CreateObjectCacheFlag" value="1" />

    <!--服务器连接池 192.168.100.196-->
    <add key="MongodbConnection" value="222.73.207.92:10008" />
    <add key="MongodbConnection_Write" value="mongodb://61.153.104.233:10008/?safe=true" />
    <!--数据库名称-->
    <add key="DataBaseName_Edushi_Zixun" value="edushi_zixun" />
    <!--数据库名称（人物）-->
    <add key="DataBaseName_Edushi_Renwu" value="edushi_renwu" />
    <!--副本集名称-->
    <add key="ReplicaSetName" value="edushi" />
    <!--超时时间，单位秒-->
    <add key="ConnectTimeout" value="3" />
    <!--频道首页页容量-->
    <add key="channelPageSize" value="56" />
    <!--详细页相关新闻总数-->
    <add key="detailNewsCount" value="100" />
    <!--详细页相关新闻页容量-->
    <add key="detailNewsPageSize" value="10" />

    <!--CDN图片地址-->
    <add key="CdnPicUrl" value="http://npic30.edushi.com/" />
    <!--全文检索URL-->
    <add key="ElasticSearchUrl" value="http://183.129.206.153:9400/,http://183.129.206.155:9400/,http://183.129.206.156:9400/" />
    <!--全文检索URL-->
    <add key="EsDataBase" value="edushi_zixun" />
    <!--检索集合-->
    <add key="EsCollection" value="InfoArticle" />

    <add key="domain_User" value="http://apps.edushi.com" />
    <!--用户头像路径-->
    <add key="CookieName" value="edushiUserId" />
    <!--Cookie名称-->
    <add key="EncryptKey" value="edushi_UserCenter2.0" />
    <!--加密和解密的Key-->
  </appSettings>

  <system.web>
    
    <httpRuntime targetFramework="4.5" />
    
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <caching>
      <outputCache />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="ERenWuIndexCache" varyByParam="none" varyByCustom="none"  duration="300" location="Downstream"/>
          <add name="ERenWuChannelIndexCache" varyByParam="none"  varyByCustom="none" duration="300" location="Downstream"/>
          <add name="ERenWuDetailCache" varyByParam="none" varyByCustom="none" duration="300" location="Downstream" />
          <add name="RwSearchPCCache" varyByParam="none" varyByCustom="none" duration="300" location="Downstream" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <!--日志-->
  <log4net>
    <logger name="loginfo">
      <level value="ALL" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 输出到什么目录-->
      <param name="File" value="D:\LogFiles\renwu_edushi_1\PC\" />
      <!-- 是否覆写到文件中-->
      <param name="AppendToFile" value="true" />
      <!-- 备份文件的个数-->
      <param name="MaxSizeRollBackups" value="100" />
      <!-- 单个日志文件最大的大小-->
      <param name="MaximumFileSize" value="10MB" />
      <!-- 是否使用静态文件名true-->
      <param name="StaticLogFileName" value="false" />
      <!-- 日志文件名-->
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;" />
      <!--Size-->
      <param name="RollingStyle" value="Date" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%t]%-5p %d [%c] %m%n" />
      </layout>
    </appender>
  </log4net>
</configuration>
