.main-container {
  margin-top: 0.3rem;
}
/*æé—®*/
.main-container .question {
  margin: 0 0.3rem;
  margin-bottom: 0.25rem;
}
.main-container .question .tags {
  margin-bottom: 0.25rem;
}
.main-container .question .tags a {
  display: inline-block;
  height: 0.44rem;
  line-height: 0.44rem;
  background-color: #f3f3f3;
  padding: 0 0.2rem;
  font-size: 0.24rem;
  color: #999;
  margin-right: 0.1rem;
  border-radius: 0.05rem;
}
.main-container .question .content {
  margin-bottom: 0.3rem;
}
.main-container .question .content h1 {
  font-size: 0.34rem;
  color: #333;
  margin-bottom: 0.15rem;
  line-height: 0.44rem;
}
.main-container .question .content .text {
  width: 6.9rem;
  font-size: 0.28rem;
  color: #333;
  margin-bottom: 0.15rem;
  line-height: 0.42rem;
  word-break: break-all;
}
.main-container .question .content .text p img{
  display: none;
}
.main-container .question .content .img {
  margin-right: -0.1rem;
  max-height: 1.24rem;
  overflow:hidden;
}
.main-container .question .content .img div {
  display: inline-block;
  width: 2.26rem;
  height: 1.24rem;
  overflow: hidden;
  margin-right: 0.05rem;
}
.main-container .question .content .img div img {
  width: 2.26rem;
  min-height: 1.24rem;
}
.main-container .question .oper{
  display: flex;
  justify-content: space-between;
}
.main-container .question .oper li {
  display: inline-block;
  /* min-width: 0.8rem; */
  font-size: 0.28rem;
  color: #888;
  /* margin-right: 0.3rem; */
}
.main-container .question .oper li a{
  color: #888;
}
.main-container .question .oper li:before {
  content: "";
  vertical-align: top;
  margin-right: 0.03rem;
}
.main-container .question .oper li.editor:before {
  display: inline-block;
  width: 0.27rem;
  height: 0.27rem;
  margin-right: 0.18rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -3.09rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.03rem;
}
.main-container .question .oper li.editor:before.on {
  background-position: 0 -3.98rem;
}
.main-container .question .oper li.favorite:before {
  display: inline-block;
  width: 0.28rem;
  height: 0.25rem;
  margin-right: 0.1rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -3.42rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.05rem;
}
.main-container .question .oper li.favorite:before.on {
  background-position: 0 -4.66rem;
}
.main-container .question .oper li.invite:before {
  display: inline-block;
  width: 0.24rem;
  height: 0.26rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -4.99rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.06rem;
}
.main-container .question .oper li.share:before {
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  margin-right: 0.1rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -2.49rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.03rem;
}
.main-container .question .oper li.report {
  margin-right: 0;
}
.main-container .question .oper li.report:before {
  display: inline-block;
  width: 0.32rem;
  height: 0.26rem;
  margin-right: 0.06rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -2.78rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.05rem;
}
.main-container .question .oper li.on {
  color: #ff3334;
}
.main-container .question .oper li.on.editor:before {
  background-position: -0.35rem -3.09rem;
}
.main-container .question .oper li.on.favorite:before {
  background-position: -0.35rem -3.42rem;
}
.main-container .question .oper li.on.invite:before {
  display: inline-block;
  width: 0.24rem;
  height: 0.26rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -5.31rem;
  background-size: 0.7rem 10rem;
}

.main-container .question .invite-user {
  display: none;
  position: relative;
  margin-top: 0.25rem;
  border-top: 1px solid #ddd;
}
.main-container .question .invite-user:before {
  content: "";
  position: absolute;
  top: -0.17rem;
  left: 3.78rem;
  display: inline-block;
  width: 0.27rem;
  height: 0.17rem;
  background: url(../images/b_arrow.png);
  background-size: 0.27rem 0.17rem;
}
.main-container .question .invite-user ul {
  max-height: 5.4rem;
  overflow-y: auto;
  padding: 0.15rem 0;
}
.main-container .question .invite-user ul li {
  height: 0.68rem;
  padding: 0.15rem 0;
}
.main-container .question .invite-user ul li .photo {
  display: inline-block;
  width: 0.68rem;
  height: 0.68rem;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 0.2rem;
}
.main-container .question .invite-user ul li .photo img {
  width: 0.68rem;
  height: 0.68rem;
}
.main-container .question .invite-user ul li .intro {
  display: inline-block;
  width: 4.3rem;
  vertical-align: top;
}
.main-container .question .invite-user ul li .intro .name {
  font-size: 0.26rem;
  color: #333;
}
.main-container .question .invite-user ul li .intro p {
  width: 4.3rem;
  font-size: 0.2rem;
  color: #999;
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.main-container .question .invite-user ul li .invite-btn {
  display: inline-block;
  width: 1.45rem;
  height: 0.26rem;
  line-height: 0.26rem;
  padding: 0.12rem 0;
  background-color: #007ef3;
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  border-radius: 0.04rem;
  margin: 0.09rem 0;
}
.main-container .question .invite-user ul li .invite-btn:before {
  content: "";
  display: inline-block;
  width: 0.24rem;
  height: 0.26rem;
  background: url(../images/sprite_icon.png) no-repeat -0.24rem -4.99rem;
  background-size: 0.7rem 10rem;
  margin-right: 0.03rem;
  vertical-align: top;
}
.main-container .question .invite-user ul li .invite-btn span {
  display: none;
}
.main-container .question .invite-user ul li .invite-btn.on {
  background-color: #ebebeb;
  color: #888;
}
.main-container .question .invite-user ul li .invite-btn.on span {
  display: inline-block;
}
.main-container .question .invite-user ul li .invite-btn.on:before {
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -8.64rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.02rem;
}
.main-container .question .editor-box {
  display: none;
  position: relative;
  margin-top: 0.25rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #e6e6e6;
}
.main-container .question .editor-box:before {
  content: "";
  position: absolute;
  top: -0.17rem;
  left: 0.35rem;
  display: inline-block;
  width: 0.27rem;
  height: 0.17rem;
  background: url(../images/b_arrow.png);
  background-size: 0.27rem 0.17rem;
}
.main-container .question .editor-box textarea {
  height: 3rem;
  margin: 0;
  padding: 0.15rem 0;
  outline: none;
  width: 6.9rem;
  border: none;
  font-size: 0.3rem;
}
.main-container .question .editor-box div {
  padding: 0.2rem 0;
}
.main-container .question .editor-box div:after{
  content: "";
  display: table;
  clear: both;
}
.main-container .question .editor-box div label {
  position: relative;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  overflow: hidden;
}
.main-container .question .editor-box div label:after {
  position: absolute;
  top: 0.06rem;
  left: 0.06rem;
  content: "";
  display: inline-block;
  width: 0.38rem;
  height: 0.38rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -5.61rem;
  background-size: 0.7rem 10rem;
}
.main-container .question .editor-box div input {
  opacity: 0;
}
.main-container .question .editor-box div .publish-btn {
  display: inline-block;
  height: 0.5rem;
  line-height: 0.5rem;
  padding: 0 0.36rem;
  font-size: 0.28rem;
  color: #fff;
  background-color: #007ef3;
  border-radius: 0.04rem;
}
/*å›žç­”*/
.main-container .answer {
  position: relative;
  padding-top: 0.09rem;
  border-top: 0.24rem solid #f8f8f8;
}
.main-container .answer:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #e6e6e6;
  position: absolute;
  left: 0;
  top: -0.24rem;
}
.main-container .answer .header {
  height: 0.66rem;
  margin-bottom: 0.1rem;
  line-height: 0.66rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1px;
}
.main-container .answer .header .title {
  display: inline-block;
  height: 0.66rem;
  line-height: 0.66rem;
  font-size: 0.3rem;
  color: #333333;
  border-bottom: 2px solid #ff3334;
  padding: 0 0.3rem;
  font-weight: bold;
}
.main-container .answer .header .sort {
  padding: 0 .3rem;
}
.main-container .answer .header .sort a {
  font-size: 0.24rem;
  color: #666666;
}
.main-container .answer .header .sort a.current {
  color: #ff3334;
}
.main-container .answer .header .sort span {
  font-size: 0.24rem;
  color: #ddd;
  margin: 0 .2rem;
}
.main-container .answer .list li {
  border-bottom: 1px solid #e6e6e6;
}
.main-container .answer .list li:last-child{
  margin-bottom:0;
  border-bottom:none;
  padding-bottom:0;
}
.main-container .answer .list li .answer-user {
  padding: 0.3rem 0.3rem 0 0.3rem;
  margin-bottom: 0.25rem;
}
.main-container .answer .list li .answer-user .photo {
  display: inline-block;
  width: 0.58rem;
  height: 0.58rem;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 0.13rem;
  vertical-align: top;
}
.main-container .answer .list li .answer-user .photo img {
  width: 0.58rem;
  height: 0.58rem;
}
.main-container .answer .list li .answer-user div {
  display: inline-block;
  height: 0.58rem;
  vertical-align: top;
}
.main-container .answer .list li .answer-user div .name {
  font-size: 0.24rem;
  color: #333;
  font-weight: bold;
}
.main-container .answer .list li .answer-user div .line {
  font-size: 0.24rem;
  color: #888;
  margin: 0 0.1rem;
}
.main-container .answer .list li .answer-user div .tip {
  font-size: 0.24rem;
  color: #888;
}
.main-container .answer .list li .answer-user div .time {
  display: block;
  font-size: 0.2rem;
  color: #999;
}
.main-container .answer .list li .answer-user .follow-btn, .q-info .follow-btn {
  display: inline-block;
  width: 1.03rem;
  height: 0.4rem;
  text-align: center;
  line-height: 0.4rem;
  background-color: #fef7f7;
  font-size: 0.2rem;
  color: #ff3334;
  border: 1px solid #ffa1a2;
  border-radius: 0.04rem;
}

.main-container .answer .list li .answer-user .follow-btn:before, .q-info .follow-btn:before {
  content: "";
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -4.46rem;
  background-size: 0.7rem 10rem;
  margin-right: 0.07rem;
  vertical-align: -0.02rem;
}
.main-container .answer .list li .answer-user .follow-btn.on,
.main-container .answer .list li .answer-user .follow-btn.friends,
.q-info .follow-btn.on {
  color: #b4b4b4;
  background-color: #f7f7f7;
  border-color: #dadada;
}
.main-container .answer .list li .answer-user .follow-btn.on:before,
.q-info .follow-btn.on:before {
  width: 0.24rem;
  height: 0.17rem;
  margin-right: 0.02rem;
  background-position: -0.28rem -4.46rem;
}
.main-container .answer .list li .answer-user .follow-btn.on span:before{
  content: '\5df2';
}
.main-container .answer .list li .answer-user .follow-btn.friends:before{
  display: none;
}
.main-container .answer .list li .answer-user .follow-btn.friends span:before{
  content: "\76f8\4e92";
}
.main-container .answer .list li .answer-content {
  font-size: 0.26rem;
  color: #333;
  line-height: 0.4rem;
  padding: 0 0.3rem;
  margin-bottom: 0.12rem;
}
.main-container .answer .list li .answer-content p,
.main-container .answer .list li .answer-content div,
.main-container .answer .list li .answer-content li {
  font-size: 0.26rem;
  line-height: 0.4rem;
  list-style:none;
  margin-bottom: 0.15rem !important;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
  word-break: break-all;
}
.main-container .answer .list li .answer-content a{
  color: #06c;
}
.main-container .answer .list li .answer-content a:hover {
  color: #ff3300 !important;
  text-decoration: none;
}
.main-container .answer .list li .answer-content .ql-align-center{
  text-align: center;
}
.main-container .answer .list li .answer-content .ql-align-right{
  text-align: right;
}
.main-container .answer .list li .answer-content blockquote{
    border-left: 0.08rem solid #ccc;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
    padding-left: 0.32rem;
}
.main-container .answer .list li .answer-content .ql-size-large{
  font-size: 0.34rem;
}

.main-container .answer .list li .answer-content ul{
  line-height: 0.4rem;
  margin-bottom: 0.15rem;
  font-size: 0.28rem;
  color: #666;
}
.main-container .answer .list li .answer-content img {
  width: 6.9rem;
}
.main-container .answer .list li .oper {
  padding: 0 0.3rem;
  margin-bottom: 0.3rem;
}
.main-container .answer .list li .oper > a,
.main-container .answer .list li .oper > div {
  display: inline-block;
  font-size: 0.24rem;
  color: #888;
  min-width: 0.9rem;
  margin-right: 0.5rem;
}
.main-container .answer .list li .oper > a:last-child,
.main-container .answer .list li .oper > div:last-child {
  margin-right: 0;
  /* float: right; */
}
.main-container .answer .list li .oper > a:before,
.main-container .answer .list li .oper > div:before {
  content: "";
  vertical-align: top;
  margin-right: 0.06rem;
}
.main-container .answer .list li .oper > a em,
.main-container .answer .list li .oper > div em {
  display: none;
}
.main-container .answer .list li .oper .zan {
  position: relative;
}
.main-container .answer .list li .oper .zan:before {
  display: inline-block;
  width: 0.22rem;
  height: 0.22rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -4.72rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.03rem;
}
.main-container .answer .list li .oper .zan:before.yizan {
  background-position: 0 -1.82rem;
}
.main-container .answer .list li .oper .zan.yizan:before {
  background-position: 0 -4.99rem;
}
.main-container .answer .list li .oper .zan em {
  display: none;
  position: absolute;
  left: 5%;
  top: -0.3rem;
  font-size: 0.28rem;
  font-family: "arial";
  font-style: normal;
  color: #ff3300;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: addone 1s ease;
  -o-animation: addone 1s ease;
  animation: addone 1s ease;
}
.main-container .answer .list li .oper .cai {
  position: relative;
}
.main-container .answer .list li .oper .cai:before {
  display: inline-block;
  width: 0.22rem;
  height: 0.22rem;
  background: url(../images/sprite_icon.png) no-repeat -0.31rem -4.72rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.06rem;
}
.main-container .answer .list li .oper .cai:before.yicai {
  background-position: 0 -2.41rem;
}
.main-container .answer .list li .oper .cai.yicai:before {
  background-position: -0.31rem -4.99rem;
}
.main-container .answer .list li .oper .cai em {
  display: none;
  position: absolute;
  left: 5%;
  top: -0.3rem;
  font-size: 0.28rem;
  font-family: "arial";
  font-style: normal;
  color: #ff3300;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-animation: addone 1s ease;
  -o-animation: addone 1s ease;
  animation: addone 1s ease;
}
.main-container .answer .list li .oper .comment:before {
  display: inline-block;
  width: 0.22rem;
  height: 0.22rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -2.18rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.05rem;
}
.main-container .answer .list li .oper .share {
  margin-right: 0;
}
.main-container .answer .list li .oper .share:before {
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -2.49rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.02rem;
}
.main-container .answer .list li .oper .report:before {
  display: inline-block;
  width: 0.32rem;
  height: 0.26rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -2.78rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.02rem;
}
.main-container .answer .list li .anwser-comment {
  display: none;
  background-color: #f8f8f8;
  border-top: 1px solid #eeeeee;
}
.main-container .answer .list li .anwser-comment .my-comment {
  height: 0.58rem;
  padding: 0.34rem 0.3rem 0.28rem;
  border-bottom: 1px solid #eee;
}
.main-container .answer .list li .anwser-comment .my-comment .photo {
  display: inline-block;
  width: 0.58rem;
  height: 0.58rem;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 0.18rem;
  vertical-align: top;
}
.main-container .answer .list li .anwser-comment .my-comment .photo img {
  width: 0.58rem;
  height: 0.58rem;
}
.main-container .answer .list li .anwser-comment .my-comment textarea {
  width: 4.72rem;
  height: 0.58rem;
  line-height: 0.58rem;
  border: 0.01rem solid #e3e3e3;
  border-radius: 0.05rem;
  padding: 0 0.15rem;
  outline: none;
  font-size: 0.24rem;
  resize: none;
  vertical-align: top;
}
.main-container .answer .list li .anwser-comment .my-comment textarea::-webkit-input-placeholder {
  color: #ccc;
}
.main-container .answer .list li .anwser-comment .my-comment .publish-btn {
  height: 0.6rem;
  line-height: 0.6rem;
  width: 0.9rem;
  text-align: center;
  font-size: 0.28rem;
  color: #fff;
  background-color: #007ef3;
  border-radius: 0.08rem;
  float: right;
}
.main-container .answer .list li .anwser-comment .comment-list {
  padding: 0.3rem 0.3rem 0 0.5rem;
}
.main-container .answer .list li .anwser-comment .comment-list li {
  float: none;
  border-bottom:  none;
  margin-bottom: 0.3rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .photo {
  display: inline-block;
  width: 0.49rem;
  height: 0.49rem;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 0.18rem;
  vertical-align: top;
}
.main-container .answer .list li .anwser-comment .comment-list li .photo img {
  width: 0.49rem;
  height: 0.49rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .content {
  display: inline-block;
  width: 6.03rem;
  font-size: 0.26rem;
  color: #333;
  line-height: 0.4rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .content .name {
  font-size: 0.24rem;
  color: #999999;
  font-weight: bold;
}
.main-container .answer .list li .anwser-comment .comment-list li .content > .oper {
  float: right;
  margin-bottom: 0;
  padding-right: 0;
  line-height: 0.31rem;
  /* margin-top: 0.11rem; */
}
.main-container .answer .list li .anwser-comment .comment-list li .content > .oper a {
  line-height: 0.31rem;
  min-width: auto;
}
.main-container .answer .list li .anwser-comment .comment-list li .content > .oper a:before {
  transform: scale(0.9, 0.9);
}
.main-container .answer .list li .anwser-comment .comment-list li .content > .oper .zan {
  margin-right: 0.2rem;
  vertical-align: top;
}
.main-container .answer .list li .anwser-comment .comment-list li .content > .oper .cai {
  margin-right: 0;
}
.main-container .answer .list li .anwser-comment .comment-list li .content p,
.main-container .answer .list li .anwser-comment .comment-list li .content div,
.main-container .answer .list li .anwser-comment .comment-list li .content li {
  margin-bottom: 0.05rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .content .time {
  display: inline-block;
  font-size: 0.2rem;
  color: #999;
  margin-right: 0.1rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .content .comment {
  display: inline-block;
  font-size: 0.2rem;
  color: #888;
  min-width: 0.9rem;
  margin-right: 0.5rem;
  line-height: 0.31rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .content .comment:before {
  content: "";
  vertical-align: top;
  margin-right: 0.03rem;
  display: inline-block;
  width: 0.18rem;
  height: 0.18rem;
  background: url(../images/sprite_icon.png) no-repeat -0.3rem -2.18rem;
  background-size: 0.7rem 10rem;
  margin-top: 0.06rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-area {
  display: none;
  margin: 0.1rem 0 0.25rem 0.9rem;
  margin-left: 0.9rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-area textarea {
  width: 4.4rem;
  height: 0.58rem;
  line-height: 0.58rem;
  border: 0.01rem solid #e3e3e3;
  border-radius: 0.05rem;
  padding: 0 0.15rem;
  margin: 0.03rem 0;
  outline: none;
  font-size: 0.24rem;
  resize: none;
  vertical-align: top;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-area .publish-btn {
  height: 0.6rem;
  line-height: 0.6rem;
  width: 0.9rem;
  text-align: center;
  font-size: 0.28rem;
  color: #fff;
  margin: 0.04rem 0;
  background-color: #007ef3;
  border-radius: 0.05rem;
  float: right;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box {
  display: none;
  width: 5.7rem;
  padding: 0.15rem;
  background-color: #f2f2f2;
  margin-left: 0.9rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box .replay-list {
  padding-bottom: 0.1rem;
  margin-bottom: 0.1rem;
  border-bottom: 1px solid #e6e6e6;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box .replay-list:last-child {
  border: none;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box .replay-list .name {
  display: inline-block;
  /* font-size: 0.24rem; */
  /* color: #999999; */
  margin-right: 0.05rem;
  font-weight:  normal;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box .replay-list .time {
  display: inline-block;
  font-size: 0.2rem;
  color: #999;
  width: auto;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box .replay-list .oper {
  margin-right: 0.3rem;
}
.main-container .answer .list li .anwser-comment .comment-list li .replay-box .replay-all {
  line-height: 0.5rem;
  font-size: 0.28rem;
  color: #007ef3;
}
.main-container .answer .list li .anwser-comment .more {
  display:block;
  text-align:center;
  font-size: 0.24rem;
  color: #ff3334;
  padding-bottom:0.3rem;
}
.main-container .answer .list li .anwser-comment .more:after {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.15rem;
  margin-left: 0.09rem;
  background: url(../images/sprite_icon.png) no-repeat 0 -5.27rem;
  background-size: 0.7rem 10rem;
}

.main-container .answer .fold {
  display: block;
  margin: 0.3rem;
  height: 0.68rem;
  line-height: 0.68rem;
  background-color: #fef7f7;
  font-size: 0.28rem;
  text-align: center;
  color: #ff3334;
  border-radius: 0.04rem;
}
/*æ›´å¤šé˜…è¯» åˆ—è¡¨*/
.question-cnt {
  margin: 0;
}
.question-cnt .header {
  height: 0.66rem;
  line-height: 0.66rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 1px;
}
.question-cnt .header .title {
  display: inline-block;
  height: 0.66rem;
  line-height: 0.66rem;
  font-size: 0.3rem;
  color: #333;
  border-bottom: 2px solid #ff3334;
  padding: 0 0.3rem;
  font-weight: bold;
}
.question-cnt .question-list {
  /* margin: 0 0.3rem; */
}

.editor-box{
  display: none;
}
.editor-box #editor-container {
  position: relative;
  min-height: 2.3rem;
  height: auto;
  margin-top: 0.8rem;
  border-top: 1px solid #eee;
}
.editor-box #editor-container:before {
  content: "\8bf7\6587\660e\7528\8bed\ff0c\7f51\53cb\8bc4\8bba\4e0d\8868\660e\0045\90fd\5e02\7acb\573a\3002";
  position: absolute;
  width: 7.5rem;
  line-height: 0.8rem;
  text-align: center;
  top: -0.8rem;
  color: #bbb;
  font-size: 0.2rem;
}
.editor-box .editor-bottom {
  height: 0.5rem;
  padding: 0.2rem 0.3rem;
  border-bottom: 1px solid #eee;
}
.editor-box .editor-bottom #upAnswerImgForm {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: url(../images/file_icon.png) center no-repeat;
  background-size: 0.5rem 0.39rem;
  overflow: hidden;
}
.editor-box .editor-bottom #upAnswerImgForm input {
  opacity: 0;
}
.editor-box .editor-bottom .publish-btn {
  display: inline-block;
  height: 0.52rem;
  line-height: 0.52rem;
  padding: 0 0.3rem;
  font-size: 0.24rem;
  color: #fff;
  background-color: #ff3334;
  border-radius: 0.06rem;
}
