@{
    ViewBag.Title = "BookStore";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>爱上头条（E都市）小说频道-书库</title>
    @Html.Partial("/Views/Shared/_PartialHead.cshtml")
</head>
<body class="bg">
    <div id="app" v-cloak>
        <header>
            <span class="back" onclick="javascript:history.go(-1);"></span>
            <span class="title">书库</span>
            <span class="nav"></span>
            @Html.Partial("/Views/Shared/_PartialMenu.cshtml")
        </header>
        <div class="main-container">
            <div class="group-cell">
                <a class="on" v-on:click="getCategoryList('1',true)">男生</a>
                <a v-on:click="getCategoryList('2',false)">女生</a>
            </div>
            <div class="tab-cnt" style="display: block;">
                <ul class="sort-list">
                    <li v-for="item in maleCategoryList">
                        <a v-on:click="hrefGO(item.Name,item.ParentID,item.ID,item.Href)">
                            <img v-bind:src="'/Content/asset/images/category/'+item.ID+'.png'" />
                            @*<img v-bind:src="'http://npic50.edushi.com/a/b/'+item.ID+'.jpg'" />*@
                            <span>{{item.Name}}</span>
                        </a>
                        @*<div class="sub">
                                <a href="#">生活111</a>
                                <a href="#">异能</a>
                                <a href="#">重生</a>
                                <a href="#">热血</a>
                                <a href="#">人生</a>
                            </div>*@
                    </li>
                </ul>
            </div>
            <div class="tab-cnt" style="display: none;">
                <ul class="sort-list">
                    <li v-for="item in femaleCategoryList">
                        <a v-on:click="hrefGO(item.Name,item.ParentID,item.ID,item.Href)">
                            <img v-bind:src="'/Content/asset/images/category/'+item.ID+'.png'" />
                            @*<img src="~/Content/asset/images/cimg02.png" />*@
                            <span>{{item.Name}}</span>
                        </a>
                        @*<div class="sub">
                                <a href="#">生活222</a>
                                <a href="#">异能</a>
                                <a href="#">重生</a>
                                <a href="#">热血</a>
                                <a href="#">人生</a>
                            </div>*@
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @Html.Partial("/Views/Shared/_PartialUserCenter.cshtml")
    @*@Html.Partial("~/Views/Shared/_PartialFooter.cshtml")*@

    <script type="text/javascript" src="~/Content/asset/js/common.js"></script>
    <script type="text/javascript" src="~/Content/asset/js/Novel/bookstore.js?v=20180724"></script>
    <script>
        tab(".group-cell a", ".tab-cnt", "on")
    </script>
</body>
</html>